---
---

<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body>

    <div id="main" class="content home-padding flex flex-horizontal-center">

      <section id="header" class="f-width">
        <div class="header home-wrap">
          <div class="header-title block">
            <h1 class="hidden">Oops</h1>
            <span class="h1">Oops</span><span class="h1 pink">!</span>
          </div>
        </div>
        <div class="section-content-display">
          <div class="p-action">
            <span class="ov">Not sure where you're trying to go but I don't have that. So yeah, looks like you're in the wrong spot. Check out some of the projects below to get you back on track.</a></span>
          </div>
          </a>
        </div>
      </section>

      <section id="projects" class="home-width projects">
        <div class="section-title">
          <span class="header-label pink">Client Work</span>
        </div>
        <div class="section-conten">
          <ul class="flex">
            <li id="publicis">
              <span class="h5">Publicis Groupe</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p class="ov">Currently leading UX on <a Href="https://www.youtube.com/watch?v=eid8C_dTVvo" target="_blank" title="Marcel">Marcel</a> with the talented team at SapientRazorfish.</p>
              </div>
            </li>
            <li id="hd">
              <span class="h5">Harley Davidson</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p class="ov">Worked on concepts with Harley Davidson throughout 2017. All work is strictly confidential.</p>
              </div>
            </li>
            <li id="fidelity">
              <span class="h5">Fidelity</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p class="ov">Helped re-design <a href="https://www.fidsafe.com/" target="_blank" title="View Site">Fidsafe</a>, a document collaboration tool for Fidelity clients in winter of 2017.</p>
              </div>
            </li>
            <li id="shearshare">
              <span class="h5">ShearShare</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Product design and front-end development for <a href="http://shearshare.com" target="_blank" title="View Site">ShearShare</a>. A b2b marketplace for salon and barbershop owners. Worked on it throughout 2016 and in 2018.</p>
              </div>
            </li>
            <li id="dumptruck">
              <span class="h5">Dumptruck</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p class="ov">Lead designer on a large-scale, trucking logistics platform. Worked on it in end of 2016 and early 2017. <a href="/dumptruck" title="View Case Study">View Case Study.</a> </p>
              </div>
            </li>
            <li id="hopsy">
              <span class="h5">Hopsy</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p class="ov">Lead the re-design and prototyping of <a Href="https://sf.hopsy.beer" target="_blank" title="View Site">Hopsy</a>, a marketplace for fresh, local, craft beers in winter of 2017. <a href="/hopsy" title="Hopsy">View Case Study.</a></p>
              </div>
            </li>
            <li id="octaneai">
              <span class="h5">Octane AI</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p class="ov">Lead product design and prototyping for <a href="https://octaneai.com/" target="_blank" title="View Site">Octane AI</a>, a new way to build chatbots, in Fall of 2016. Did some of front-end development as well. <a href="/octaneai" title="View Case Study">View Case Study.</a></p>
              </div>
            </li>
            <li id="everwill">
              <span class="h5">Everwill</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p class="ov">In fall of 2016, lead product design for a <a href="https://www.everwill.com/" title="Everwill" target="_blank">responsive web app</a> to make the will building process easier than ever.</p>
              </div>
            </li>
            <li id="westagile">
              <span class="h5">West Agile Labs</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Product design, branding and front-end development for our SF-based <a href="http://westagilelabs.com" target="_blank" title="View Site">digital product agency</a>. Launching Spring 2017.</p>
              </div>
            </li>

            <li id="nvolv">
              <span class="h5">Nvolv</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Branding, product design and prototyping for bespoke events iOS app in spring of 2016. <a href="/nvolv" title="View Case Study">View Case Study.</a></p>
              </div>
            </li>
            <li id="instapark">
              <span class="h5">Instapark</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Lead the re-design and iterative prototypes of an on-demand, car-port-sharing mobile app concept back in winter of 2015. <a href="/instapark" title="View Case Study">View Case Study.</a></p>
              </div>
            </li>
            <li id="natera">
              <span class="h5">Natera</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Helped design some internal sales tools and a <a href="https://my.natera.com/" target="_blank">client facing portal</a> back in Fall of 2015.</p>
              </div>
            </li>
          </ul>
      </div>


      <div class="section-title personal-padding">
        <span class="header-label pink">Personal Projects</span>
      </div>
      <div class="section-content">
        <ul class="flex">
          <li id="breakfast">
            <span class="h5">The World's Best Breakfast Tacos</span><span class="h5 project-period">.</span>
            <div class="p-action">
              <p>On a quest to make the best breakfast taco's the world has ever seen. Shoot me an email for a taste test. <a href="http://theworldsbestbreakfasttacos.com" title="The World's Best Breakfast Tacos">Check out the tacos</a>.</p>
            </div>
          </li>
          <li id="dodo">
            <span class="h5">Dodo</span><span class="h5 project-period">.</span>
            <div class="p-action">
              <p>Product design and prototyping for internal tool to help reduce mobile-bug reporting time. <a href="/dodo" title="View Case Study">View Case Study.</a></p>
            </div>
          </li>
          <li id="cpdc">
            <span class="h5">Cal Poly Distance Club</span><span class="h5 project-period">.</span>
            <div class="p-action">
              <p>Branding, product design and front-end development for my old college cross country team. Launching winter 2016. <a href="/cpdc" title="View Project">View The Project.</a></p>
            </div>
          </li>
          <li id="ug">
            <span class="h5">The Underground Symphony</span><span class="h5 project-period">.</span>
            <div class="p-action">
              <p>Exploring the muscians of New York's sprawling subway system. I worked on the branding and product design. <a href="/ug" title="View Project">View The Project.</a></p>
            </div>
          </li>
          <li id="yearinreview">
            <span class="h5">Year In Review</span><span class="h5 project-period">.</span>
            <div class="p-action">
              <p>Personal project. Adventures and photos throughout the years. <a href="http://yearinreview.acag.win/2016" target="_blank" title="Year In Review">Take a Peek Into My Life</a>.</p>
            </div>
          </li>
          <li id="roadtrip">
            <span class="h5">Cross Country Roadtrip</span><span class="h5 project-period">.</span>
            <div class="p-action">
              <p class="ov">Little personal microsite I put together for a 4 month roadtrip I took. <a href="http://roadtrip.acag.win" target="_blank" title="Year In Review">Check it out.</a></p>
            </div>
          </li>
          </ul>
      </div>

      </section>
    </div>

    {% include footer.html %}

    {% include message.html %}

    {% include js.html %}

  </body>
</html>
