---
---

<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body>

    <div id="main" class="content home-padding flex flex-horizontal-center">

      <section id="header" class="f-width">
        <div class="header home-wrap">
          <div class="header-title block an-s-1 page-animation-1">
            <h1 class="hidden">About Me</h1>
            <span class="h1">Oops</span><span class="h1 pink">!</span>
          </div>
          <div class="header-content an-s page-animation-2">
            <span class="h4">Looks like you're in the wrong spot. Are you lost? Check out some of the projects below to get you back on track.</span>
          </div>
        </div>
      </section>

      <section id="projects" class="home-width projects">
          <div class="section-title an-s page-animation-5">
            <span class="header-label pink">Client Work</span>
          </div>
          <div class="section-content  an-s page-animation-6">
            <ul class="flex">
              <li id="octane">
                <a href="https://www.octaneai.com" title="Octane AI">
                  <span class="h5">Octane AI</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p class="ov">Lead Product design and prototyping for a new way to build chatbots. Did some of front-end development as well.</p>
                    <span class="action">View Site</span>
                  </div>
                </a>
              </li>
              <!-- <li id="dumptruck">
                <a href="/drumptruck" title="Dumptruck">
                  <span class="h5">Dumptruck</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p class="ov">Designed and prototyped a large scale, trucking logistics application across 3 platforms. </p>
                    <span class="action">View Site</span>
                  </div>
                </a>
              </li> -->
              <li id="eventyoda">
                <a href="/eventyoda" title="EventYoda">
                  <span class="h5">Eventyoda</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p class="ov">Helped small and medium businesses quote and book team building events. I oversaw the product development and lead product design.</p>
                    <span class="action">View Project</span>
                  </div>
                </a>
              </li>
              <li id="instapark">
                <a href="/instapark" title="InstaPark">
                  <span class="h5">Instapark</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p>Lead the re-design and iterative prototypes of an on-demand, car-port-sharing mobile app concept.</p>
                    <span class="action">View Project</span>
                </div>
                </a>
              </li>
              <li id="enhance">
                <a href="/enhance" title="Enhance Physical Therapy">
                  <span class="h5">Enhance</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p>Helped physical therapists improve their patient's recovery process. I lead all aspects of design.</p>
                    <span class="action">View Project</span>
                  </div>
                </a>
              </li>
              <li id="westagile">
                <a href="/westagile" title="West Agile Labs">
                  <span class="h5">West Agile Labs</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p>Product design, branding and front-end development for our SF-based digital design and development agency.</p>
                    <span class="action">View Project</span>
                  </div>
                </a>
              </li>
              <li id="nvolv">
                <a href="/nvolv" title="Nvolv">
                  <span class="h5">Nvolv</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p>Branding, product design and prototyping for bespoke events iOS app.</p>
                    <span class="action">View Project</span>
                  </div>
                </a>
              </li>
              <li id="everwill">
                <a href="/everwill" title="Everwill">
                  <span class="h5">Everwill</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p>Lead design, branding and iterative prototyping to make the will building process easier than ever. Launching Spring 2017</p>
                    <span class="action">View Project</span>
                  </div>
                </a>
              </li>
              <li id="iwaboo">
                <a href="/iwaboo" title="iWaboo">
                  <span class="h5">iWaboo</span><span class="h5 project-period">.</span>
                  <div class="p-action">
                    <p>Lead Product design, branding and iterative prototyping a new B2B ecommerce platform. Launching Spring 017</p>
                    <span class="action">View Project</span>
                  </div>
                </a>
              </li>
            </ul>
        </div>


        <div class="section-title">
          <span class="header-label pink">Personal Projects</span>
        </div>
        <div class="section-content">
          <ul class="flex">
            <li id="breakfast">
              <a href="http://theworldsbestbreakfasttacos.com" title="The World's Best Breakfast Tacos">
                <span class="h5">The World's Best Breakfast Tacos</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>On a quest to make the best breakfast taco's the world has ever seen. Shoot me an email for a taste test.</p>
                  <span class="action">Check out the tacos</span>
                </div>
              </a>
            </li>
            <li id="dodo">
              <a href="/dodo" title="Dodo">
                <span class="h5">Dodo</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Product design and prototyping for internal tool to help reduce mobile-bug reporting time.</p>
                  <span class="action">View Project</span>
                </div>
              </a>
            </li>
            <li id="cpdc">
              <a href="/cpdc" title="Cal Poly Distance Club">
                <span class="h5">Cal Poly Distance Club</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Branding, product design and front-end development for my old college cross country team. Launching winter 2016.</p>
                  <span class="action">View Project</span>
                </div>
              </a>
            </li>
            <li id="ug">
              <a href="/ug" title="Underground Symphony">
                <span class="h5">The Underground Symphony</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Exploring the muscians of New York's sprawling subway system. I worked on the branding and product design.</p>
                  <span class="action">View Project</span>
                </div>
              </a>
            </li>
            <li id="yearinreview">
              <a href="/yearinreview" title="Year In Review">
                <span class="h5">Year In Review</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Personal project. Adventures and photos throughout the years. </p>
                  <span class="action">Take a Peek Into My Life</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>


    <footer>
      <div class="footer">
        <div class="footer--content">
          <div class="footer--item">
            <span class="footer-label">Copyright</span>
            <span><i class="fa fa-copyright"></i> Alex Cagwin, 2016.</span>
          </div>
          <div class="footer--item">
            <span class="footer-label">Email</span>
            <a href="mailto:hey@acag.win" title="Email Me">
              <span>Hey@acag.win</span>
            </a>
            <a data-clipboard-text="hey@acag.win" class="copied no-smoothState">
              <span class="footer-contact">Copy Email Link</span>
            </a>
          </div>
          <div class="footer--item">
            <span class="footer-label">Elsewhere</span>
            <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
              <span>LinkedIn</span>
            </a>
            <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
              <span>Twitter</span>
            </a>
            <a href="https://500px.com/alexcagwin" target="_blank" title="500px">
              <span>500px</span>
            </a>
          </div>
        </div>
      </div>
    </footer>


    <div id="message">
      <div id="msg" class="message">
        <span>Email Copied to Clipboard</span>
        <!-- <span class="closebtn">&times;</span> -->
      </div>
      <a data-scroll href="#make" id="f-msg" class="message">
        <span>Oops! Didn't Work. Click here to jump to the bottom and copy/paste my email.</span>
        <span class="closebtn">&times;</span>
      </a>
    </div>

    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/clipboard.min.js"></script>
    <script src="js/jquery-2.1.1.js"></script>
    <!-- <script src="js/jquery.smoothState.min.js"></script>
    <script src="js/main-smoothstate.js"></script> -->
    <script src="js/main.js"></script>
  </body>
</html>
