---
project: About Me
meta_title: About Me | Alex Cagwin
menu:
  - title: Home
    link:
  - title: About Me
    link: about
  - title: Octane AI
    link: octaneai
  - title: Dumptruck
    link: dumptruck
  - title: Hopsy
    link: hopsy
  - title: Nvolv
    link: nvolv
---


<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="about">
      <div id="main" class="content flex home-padding flex-horizontal-center black-bg">
        <div id="header" class="nav-2 header animated header--fixed">
          <div class="nav--content desktop-hide">
            <a href="#" id="menu-nav" class="project-btn" >
              <div class="project-btn-out">
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
              </div>
              <span class="nhg main">{{ page.project }}</span>
            </a>
            <div class="mobile-nav-mail">
              <div class="nav--break"></div>
              <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn" class="nav-padding-l-b nav-padding-r-s">
                <i class="fa fa-linkedin"></i>
                <span class="nav-tooltip">Connect with Me</span>
              </a>
              <a href="https://twitter.com/wincag1" target="_blank" title="Twitter" class="nav-padding-l-s nav-padding-r-s">
                <i class="fa fa-twitter"></i>
                <span class="nav-tooltip">Follow Me</span>
              </a>
              <a href="mailto:hey@acag.win" class="desktop-hide nav-padding-l-s nav-padding-r-b">
                <i class="fa fa-envelope-o"></i>
              </a>
            </div>
          </div>
          <div class="mobile-hide">
            <div class="nav--content">
              <a href="/" class="project-btn">
                <div class="project-btn-out">
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                </div>
                <span class="nav-tooltip">Return Home</span>
              </a>
              <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin"></i>
                <span class="nav-tooltip">Connect with Me</span>
              </a>
              <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
                <span class="nav-tooltip">Follow Me</span>
              </a>
              <a data-clipboard-text="hey@acag.win" class="no-smoothState copied mobile-hide">
                <i class="fa fa-envelope-o"></i>
                <span class="nav-tooltip">Shoot Me an Email</span>
              </a>
            </div>
          </div>
        </div>

        <section id="title" class="f-width header-space about">
          <div class="header home-wrap">
            <div class="header-title block">
              <h1 class="hidden">About Me</h1>
              <div class="section-title">
                <span class="header-label-2 pink">About Me</span>
              </div>
              <span class="about-title white">Hey there. Welcome to my abode.</span>
            </div>
          </div>
          <div class="about-header-img">
              <img src="../assets/media/about/headshot.jpg" alt="about-asset">
          </div>
          <!--<div class="section-content-display">
            <div class="header-content-bio desktop-hide-2">
              <span>I’m Alex, a digital design director, currently freelancing in New York. I’m also on a quest to make the world’s best breakfast tacos.</span>
            </div>
          </div> -->
        </section>

      </div>

      <div id="content" class="content flex flex-horizontal-center">

        <section class="project-section intro-reverse split split-p-a">
          <div class="intro-content">
              <span class="fact-label">Fun Fact</span>
              <div class="client-list">
                <span>I spent 4 months roadtripping across the country, driving 13,702 miles and staying in 32 cities. I met a dude named Herman in Marfa, TX who thought it'd be a good idea to drive my car to 132mph.</span>
              </div>
          </div>
          <div class="split-content">
            <div class="header-content-bio">
              <span>I’m Alex, a digital design director, currently freelancing in New York. I’m also on a quest to make the world’s best breakfast tacos.</span>
            </div>
            <div class="section-break"></div>
            <p>I primarily focus on product and interaction design for companies like Harley Davidson, Fidelity, Natera, Octane AI and ShearShare. I work in a collaborative and highly iterative fashion emphasizing building and testing prototypes with users. </p>
            <p>I started my career at <a href="http://westagilelabs.com" target="_blank">West Agile Labs</a> as a QA analyst trying to break products. I was there for 3 years, where I built out and oversaw the design and product teams. I led our design team of five, pitched clients, managed resources, developed the West Agile brand and worked on over 45+ products, such as <a href="https://www.natera.com/" target="_blank" title="Natera">Natera</a>, <a href="https://www.spikebee.com/calgary" target="_blank" title="SpikeBee">SpikeBee</a>, <a href="https://nvolv.co/" target="_blank" title="Nvolv">Nvolv</a>, <a href="/eventyoda" title="Eventyoda">Eventyoda</a>,  <a href="https://octaneai.com/" target="_blank" title="Octane AI">Octane AI</a>, and <a href="http://shearshare.com/" target="_blank" title="ShearShare">ShearShare</a>, which won Tech.Co’s startup of the year. </p>
            <p>After West Agile, I worked for <a href="https://maps.harley-davidson.com/" target="_blank">Harley Davidson</a> for the better part of 2017. During that time, the product team focused on re-designing their existing ride planning tool. For the first half of the engagement, I had the opportunity to work out of Pivotal Labs with talented team there. Some of the designers I had the privilege to work with were <a href="http://www.meetrichardenlow.com/" target="_blank">Richard Enlow</a>, <a href="http://www.pixelspersecond.com/" target="_blank">Prianka Rayamajhi</a> and <a href="http://ghent.design/" target="_blank">David Ghent</a>.
            <p>I had moved to NYC after the Harley Davidson engagement where I started working over with <a href="https://www.sapientrazorfish.com/" target="_blank">SapientRazorfish</a> helping craft and build <a href="https://marcel.ai/" target="_blank">Marcel</a>, the AI powered assistant. I'm currently helping redefine their agency workflow as well define the UX framework for a conversational interface.</p>
            <p>In the middle of 2018, I partnered again with a one of the most talented product people I know, Rathan Haran, where we helped transform Baby Noggin's product. We brought to the table, lean and agile methdologies to help better support the Baby Noggin ecosystem, focusing on iterative prototyping and research. We are currently helping doctors and teachers better screen children.</p>

            <div class="section-break"></div>
            <p>Born and raised in lovely <a href="https://goo.gl/maps/bEYJrXj91YU2" target="_blank" title="South Bay, California">South Bay, California.</a> I went to <a href="https://www.bcp.org/" target="_blank" title="South Bay, California">BCP</a> and received my undergrad degree in Political Science at <a href="http://www.calpoly.edu/" target="_blank" title="Cal Poly, SLO">Cal Poly, SLO</a>, where I ran cross-country and track at both. I also started the <a href="http://cpdistanceclub.com/" target="_blank" title="Cal Poly Distance Club">Cal Poly Distance Club</a> with my best friend Mike</p>
            <p>On the side, I try to keep busy with <a href="https://500px.com/alexcagwin" target="_blank" title="500px">photography</a>, <a href="https://soundcloud.com/awincag" target="_blank" title="Soundcloud">making music</a>, and lots of side projects. The two big ones I’m working on right now are <a href="/ug" title="Underground Symphony">The Underground Symphony</a> and <a href="/dodo" title="dodo">Dodo</a>. My biggest passion outside of the world of design is  some really good fucking breakfast tacos. Seriously, they’re decadent. Check out the website <a href="http://theworldsbestbreakfasttacos.com" target="_blank" title="The World&#39;s Best Breakfast Tacos">here</a> to learn more about them and how you can get a bite yourself. </p>
          </div>
        </section>

        <div class="project-break"></div>

        <section class="project-section split split-p-a">
          <div class="intro-content intro-info">
            <span class="intro-project-title">Marcel at Publicis</span>
            <div class="client-list mobile-hide">
              <div class="case-study-break"></div>
              <span><a href="https://marcel.ai" title="Marcel at Publicis" target="_blank">Marcel</a> is an AI enabled conversatioonal assistant for employees of the Publicis Groupe.</span>
            </div>
          </div>
          <div class="split-content">
            <div class="experience">
              <div class="experience--item">
                <span class="experience--item-title">Product Design Lead</span>
                <span class="experience--item-timeline">January 2018 – Present</span>
                <ul>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Owning experience design for Marcel, an internal enterprise voice-based, digital assistant across iOS and Android apps, web products, and a CMS engine.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Facilitating the product development lifecycle of 7 large-scale initiatives between senior stakeholders, research & insights, content, design, and development.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Leveraging Principle as the core prototyping tool to validate core mobile feature sets.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Managing and mentoring a team of 6 designers. Supporting 2 researchers and 3 BA’s.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p style="margin:0;">Core Competencies: Conversational Design, Senior Stakeholder Management, Systems Design, Continuous Delivery Enablement</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="project-break"></div>

        <section class="project-section split split-p-a">
          <div class="intro-content intro-info">
            <span class="intro-project-title">BabyNoggin</span>
            <div class="client-list mobile-hide">
              <div class="case-study-break"></div>
              <span><a href="http://www.babynoggin.com/" title="Baby Noggin" target="_blank">BabyNoggin</a>  improves the developmental screening process for pediatricians, providers and parents. This has been my most difficult design challenge to date.</span>
            </div>
          </div>
          <div class="split-content">
            <div class="experience">
              <div class="experience--item">
                <span class="experience--item-title">Product Design Lead</span>
                <span class="experience--item-timeline">June 2018 – January 2019</span>
                <ul>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>As the sole designer, partnered with product and engineering to ruthlessly prioritize and ship features in a continuous delivery model enabling the team to release on an almost daily basis.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Leveraged user research and lean UX to optimize a clinical screening tool for milestone development in children that has over 200 doctors under contract as of 1Q19.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>After launch of new design, monthly recurring revenue grew at 25% and the product will be piloting with Advocate Aurora Health, the 10th largest not-for-profit integrated healthcare system in the U.S.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p style="margin:0;">Core Competencies: Lean UX, Investor relations, and Startup Scrappiness</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="project-break"></div>

        <section class="project-section split split-p-a">
          <div class="intro-content">
            <span class="intro-project-title">Harley Davidson</span>
          </div>
          <div class="split-content">
            <div class="experience">
              <div class="experience--item">
                <span class="experience--item-title">Design Lead</span>
                <span class="experience--item-timeline">May 2017 – November 2017</span>
                <ul>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Focused on iterating on and refactoring iOS features shipped at Pivotal.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Shipped a new custom ride tool, a ride preview — enabling riders to preview weather and conditions along their route, and web & android experiences.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Supported a web and an Android designer by design pairings, facilitating feedback sessions and managing their backlogs.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p style="margin:0;">Core Competencies: Principle Prototyping and Distributed Team Collaboration.</p>
                  </li>
                </ul>
              </div>
              <div class="section-break"></div>
              <div class="experience--item">
                <span class="experience--item-title">Product Designer</span>
                <span class="experience--item-timeline">February 2017 – May 2017</span>
                <ul>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Collaborated with 3 designers and 16 engineers at Pivotal Labs to design, validate and build a curated ride planner iOS app.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Began with a ~40 participant discovery and framing where we synthesized and prioritized core user problems. Maintained a research cadence of validating with 5-8 users weekly. </p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Shipped curated rides, navigation, custom routes, and dealer finder.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Core Competencies: User Research, Synthesis, and Validation.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="project-break"></div>

        <section class="project-section split split-p-a">
          <div class="intro-content">
            <span class="intro-project-title">West Agile Labs</span>
          </div>
          <div class="split-content">
            <div class="experience">
              <div class="experience--item">
                <span class="experience--item-title">Design Lead</span>
                <span class="experience--item-timeline">May 2017 – November 2017</span>
                <ul>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Lead design and/or product development on 52 products. Clients include: Mixt Greens, ShearShare, Totum Wealth, PlatterPix, Pomello, RadianGen, Hopsy and Everwill.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Worked with founders to grow the company from 5 employees to 28 including starting, recruiting and mentoring a team of 6 talented designers from scratch.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Lead all design sales efforts. Increased design revenue by 35% in 2017.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Introduced product design as a service and transformed the company from an offshor development partner to full-service digital product studio.</p>
                  </li>
                  <li>
                    <div class="about-list-dot"></div>
                    <p>Core Competencies: Design Recruiting & Mentoring, Optimizing Resource Allocation, New Business Development and Facilitating Project Kick-Offs.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>




      </div>

        <!--
        <section class="footer" style="margin: 0; background-color: #fff;">
            <div class="footer--content">
              <div class="footer--item">
                <span class="header-label pink">Experience</span>
                <div class="list-item">
                  <p>Co-Founder, Designer</p>
                  <a href="http://fandf.xyz" class="label-small" title="Form &amp; Function" target="_blank">Form &amp; Function</a>
                </div>
                <div class="list-item">
                  <p>Lead Designer</p>
                  <a class="label-small" href="http://westagilelabs.com" target="_blank" title="West Agile Labs">West Agile Labs</a>
                </div>
                <div class="list-item">
                  <p>Product Manager</p>
                  <p class="label-small">Ten Dollar Wholesale</p>
                </div>
                <div class="list-item">
                  <p>Founder</p>
                  <a class="label-small" href="http://cpdistanceclub.com/" target="_blank" title="Cal Poly Distance Club">Cal Poly Distance Club</a>
                </div>
              </div>
              <div class="footer--item">
                <span class="header-label pink">Education</span>
                <div class="list-item">
                  <p>BA, Political Science</p>
                  <a class="label-small" href="http://www.calpoly.edu/" target="_blank" title="Cal Poly, SLO">Cal Poly, SLO 2013</a>
                </div>
              </div>
              <div class="footer--item">
                <span class="header-label pink">Thoughts &amp; Ideas</span>
                <div class="list-item">
                  <p>Gonna get to this after I finish up all my side projects. </p>
                </div>
              </div>
            </div>
        </section> -->



          {% include footer.html %}

          {% include menu.html %}

          {% include message.html %}

          {% include js.html %}



    </body>
</html>
