---
meta_title: Cal Poly Distance Club | Alex Cagwin
project: Cal Poly Distance Club
nextProject: ug
nextProjectTitle: The Underground Symphony
previousProject: dodo
challenge: Promote my old college cross country team, the Cal Poly Distance Club.
details:
  - label: Role
    content: Lead Designer &amp; Front-end Developer
  - label: Year
    content: Fall 2016
menu:
  - title: Home
    link:
  - title: About Me
    link: about
  - title: Hopsy
    link: hopsy
  - title: Dumptruck
    link: dumptruck
  - title: Octane AI
    link: octaneai
  - title: Virtual Fantasy League
    link: vfl
  - title: Everwill
    link: everwill
  - title: Nvolv
    link: nvolv
  - title: Instapark
    link: instapark
  - title: Dodo App
    link: dodo
  - title: Cal Poly Distance Club
    link: cpdc
  - title: The Underground Symphony
    link: ug
---


<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="cpdc" class="main-bg">
    <div id="main" class="content flex flex-horizontal-center">

      {% include navigation.html %}

      <div class="project--header f-width">
        <div class="header">
          <div class="header-title block">
            <h1 class="hidden">{{ page.project }}</h1>
          </div>
          <div class="header-content">
            <span class="h4 white">Just because you didn't make the D1 team doesn't mean you have to stop running.</span>
          </div>
        </div>
        <div class="header-hero">
          <picture>
            <img src="../assets/media/octane/main-hero.png" alt="Laptop Background">
          </picture>
        </div>
        <div class="header-text">
          <span class="header-project-text">{{ page.project }}</span>
        </div>
      </div>

      <section class="intro split split-p-a">
        <div class="intro-content">
          <div class="intro-project-header">
            <span class="intro-project-title">{{ page.project }}</span>
          </div>
          <div class="intro-break"></div>
          <div class="intro-details">
            <div class="intro-details-1">
              <span class="header-label">Challenge</span>
              <div class="details-item">
                <p>{{ page.challenge }}</p>
              </div>
            </div>
            {% for item in page.details %}
              <div class="intro-details-2">
                <span class="header-label">{{ item.label}}</span>
                <div class="details-item">
                  <p>{{ item.content}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="intro-break"></div>
          <div class="intro-link">
            <a title="View Live" class="project-live">
              <p>Coming Soon</p>
            </a>
          </div>
        </div>
        <div class="split-content">
          <div class="section-content">
            <p>I remember the first time I met Andrew and Mike. We were on the track, all of three of just finished a run independently of each other. They walked over to me and said "hey, do you want to start a cross country club?" I didn't even hestitate with a joyful "yes".</p>
            <p>None of us had made the college D1 program. We were all about 3-4 secounds outside of what we needed to run to run for the official Cal Poly cross country program. However, none of us wanted to give up the sport. We had been running for 4+ years on our own and wanted to continue. That spring, 2010, we started the Cal Poly Distnace club.</p>
            <p>Since then, the club has grown to 100 members, racing both on the local and national levels. We're coached by a world class mentor, Mando. As the club has grown, we've seen it shape and develop into a larger entity that we had ever envisioned. Originally, we had just thrown together a quick website template and slapped on the colors. However, that slapstick, throw-away brand couldn't keep up if the CPDC wanted to legitimize itself.</p>
            <p>Over the past couple of months, I've had the opportunity to dive back into the roots of the CPDC and translate the emotive infrastructure into a living visual identity that any current and new members can resonate with. Mike, Andrew and I started the club on the idea that anybody should be able to run and compete. It should be an approachable community that helps carry each other over the finish line. I've been pushing the brand to reflect that.</p>
            <p>The site is currently underconstruction. I hope to wrap up development by the end of the year before the start of the new track season. This page will reflect the latest news and updates on that.</p>
          </div>
        </div>
      </section>


      <div class="fw-2 ">
        <div class="screens--screen">
          <div class="photo-width">
            <picture>
              <source
                  data-srcset="../assets/media/cpdc/1-xl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/cpdc/1-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/cpdc/1-m.jpg"
                  media="(min-width: 1000px)" />
              <source
                  data-srcset="../assets/media/cpdc/1-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/cpdc/1-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/cpdc/1-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
        </div>
      </div>


        <div class="fw-2">
          <div class="screens--screen">
            <div class="photo-width">
              <picture>
                <source
                  data-srcset="../assets/media/cpdc/2-xl.jpg"
                  media="(min-width: 1500px)" />
                <source
                  data-srcset="../assets/media/cpdc/2-l.jpg"
                  media="(min-width: 1200px)" />
                <source
                  data-srcset="../assets/media/cpdc/2-m.jpg"
                  media="(min-width: 1000px)" />
                <source
                  data-srcset="../assets/media/cpdc/2-s.jpg"
                  media="(min-width: 700px)" />
                <source
                  data-srcset="../assets/media/cpdc/2-p.jpg"
                  media="(min-width: 100px)" />
                <img
                  data-sizes="auto"
                  data-src="../assets/media/cpdc/2-l.jpg"
                  class="lazyload blur-up" />
              </picture>
            </div>
          </div>
        </div>

        <div class="fw">
          <div class="screens--screen">
            <div class="photo-width">
              <picture>
                <source
                    data-srcset="../assets/media/cpdc/3-xl.jpg"
                    media="(min-width: 1500px)" />
                <source
                    data-srcset="../assets/media/cpdc/3-l.jpg"
                    media="(min-width: 1200px)" />
                <source
                    data-srcset="../assets/media/cpdc/3-m.jpg"
                    media="(min-width: 1000px)" />
                <source
                    data-srcset="../assets/media/cpdc/3-s.jpg"
                    media="(min-width: 700px)" />
                <source
                    data-srcset="../assets/media/cpdc/3-p.jpg"
                    media="(min-width: 100px)" />
                <img
                    data-sizes="auto"
                    data-src="../assets/media/cpdc/3-l.jpg"
                    class="lazyload blur-up" />
              </picture>
            </div>
          </div>
        </div>

        <section id="mocks" class="f-width mocks-light">
            <div class="screens--screen">
              <div class="photo-width">
                <picture>
                  <source
                      data-srcset="../assets/media/cpdc/5-l.jpg"
                      media="(min-width: 1200px)" />
                  <source
                      data-srcset="../assets/media/cpdc/5-m.jpg"
                      media="(min-width: 1000px)" />
                  <source
                      data-srcset="../assets/media/cpdc/5-s.jpg"
                      media="(min-width: 700px)" />
                  <source
                      data-srcset="../assets/media/cpdc/5-p.jpg"
                      media="(min-width: 100px)" />
                  <img
                      data-sizes="auto"
                      data-src="../assets/media/cpdc/5-l.jpg"
                      class="lazyload blur-up" />
                </picture>
              </div>
            </div>
        </section>

        <div class="fw">
          <div class="screens--screen">
            <div class="photo-width">
              <picture>
                <source
                    data-srcset="../assets/media/cpdc/6-xl.jpg"
                    media="(min-width: 1500px)" />
                <source
                    data-srcset="../assets/media/cpdc/6-l.jpg"
                    media="(min-width: 1200px)" />
                <source
                    data-srcset="../assets/media/cpdc/6-m.jpg"
                    media="(min-width: 1000px)" />
                <source
                    data-srcset="../assets/media/cpdc/6-s.jpg"
                    media="(min-width: 700px)" />
                <source
                    data-srcset="../assets/media/cpdc/6-p.jpg"
                    media="(min-width: 100px)" />
                <img
                    data-sizes="auto"
                    data-src="../assets/media/cpdc/6-l.jpg"
                    class="lazyload blur-up" />
              </picture>
            </div>
          </div>
        </div>

        <section id="mocks" class="f-width mocks-dark">
            <div class="screens--screen">
              <div class="photo-width">
                <picture>
                  <source
                      data-srcset="../assets/media/cpdc/7-l.jpg"
                      media="(min-width: 1200px)" />
                  <source
                      data-srcset="../assets/media/cpdc/7-m.jpg"
                      media="(min-width: 1000px)" />
                  <source
                      data-srcset="../assets/media/cpdc/7-s.jpg"
                      media="(min-width: 700px)" />
                  <source
                      data-srcset="../assets/media/cpdc/7-p.jpg"
                      media="(min-width: 100px)" />
                  <img
                      data-sizes="auto"
                      data-src="../assets/media/cpdc/7-l.jpg"
                      class="lazyload blur-up" />
                </picture>
              </div>
            </div>
        </section>

        <section id="mocks" class="f-width mocks">
            <div class="screens--screen double">
              <div class="photo-width left">
                <picture>
                  <source
                      data-srcset="../assets/media/cpdc/8-l.jpg"
                      media="(min-width: 1200px)" />
                  <source
                      data-srcset="../assets/media/cpdc/8-m.jpg"
                      media="(min-width: 1000px)" />
                  <source
                      data-srcset="../assets/media/cpdc/8-s.jpg"
                      media="(min-width: 700px)" />
                  <source
                      data-srcset="../assets/media/cpdc/8-p.jpg"
                      media="(min-width: 100px)" />
                  <img
                      data-sizes="auto"
                      data-src="../assets/media/cpdc/8-l.jpg"
                      class="lazyload blur-up" />
                </picture>
              </div>
              <div class="photo-width right">
                <picture>
                  <source
                      data-srcset="../assets/media/cpdc/9-l.jpg"
                      media="(min-width: 1200px)" />
                  <source
                      data-srcset="../assets/media/cpdc/9-m.jpg"
                      media="(min-width: 1000px)" />
                  <source
                      data-srcset="../assets/media/cpdc/9-s.jpg"
                      media="(min-width: 700px)" />
                  <source
                      data-srcset="../assets/media/cpdc/9-p.jpg"
                      media="(min-width: 100px)" />
                  <img
                      data-sizes="auto"
                      data-src="../assets/media/cpdc/9-l.jpg"
                      class="lazyload blur-up" />
                </picture>
              </div>
            </div>
        </section>

        {% include next-project.html %}


      </div>

      {% include footer.html %}

      {% include menu.html %}

      {% include message.html %}

      {% include js.html %}



    </body>
</html>
