---
meta_title: Dodo App | Alex Cagwin
project: Dodo App
nextProject: cpdc
nextProjectTitle: Cal Poly Distance Club
previousProject: instapark
challenge: Significantly reduce the effort and time to report mobile app bugs.
details:
  - label: Role
    content: Product Designer
  - label: Art Director
    content: Jackie Cruickshank
  - label: Product Manager
    content: Rathan Haran
  - label: Year
    content: Winter 2016
menu:
  - title: Home
    link:
  - title: About Me
    link: about
  - title: Hopsy
    link: hopsy
  - title: Dumptruck
    link: dumptruck
  - title: Octane AI
    link: octaneai
  - title: Virtual Fantasy League
    link: vfl
  - title: Everwill
    link: everwill
  - title: Nvolv
    link: nvolv
  - title: Instapark
    link: instapark
  - title: Dodo App
    link: dodo
  - title: Cal Poly Distance Club
    link: cpdc
  - title: The Underground Symphony
    link: ug
---


<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="dodo" class="main-bg">
    <div id="main" class="content flex flex-horizontal-center">

      {% include navigation.html %}

      <div class="project--header f-width">
        <div class="header">
          <div class="header-title block">
            <h1 class="hidden">{{ page.project }}</h1>
          </div>
          <div class="header-content">
            <span class="h4 white">Making mobile bug reporting less painful.</span>
          </div>
        </div>
        <div class="header-hero">
          <picture>
            <img src="../assets/media/dodo/main.png" alt="Dodo Logo">
          </picture>
        </div>
        <div class="header-text">
          <span class="header-project-text">{{ page.project }}</span>
        </div>
      </div>

      <section class="intro split split-p-a">
        <div class="intro-content">
          <div class="intro-project-header">
            <span class="intro-project-title">{{ page.project }}</span>
          </div>
          <div class="intro-break"></div>
          <div class="intro-details">
            <div class="intro-details-1">
              <span class="header-label">Challenge</span>
              <div class="details-item">
                <p>{{ page.challenge }}</p>
              </div>
            </div>
            {% for item in page.details %}
              <div class="intro-details-2">
                <span class="header-label">{{ item.label}}</span>
                <div class="details-item">
                  <p>{{ item.content}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="intro-break"></div>
        </div>
        <div class="split-content">
          <div class="section-content">
            <p>The average time it takes to report a bug on a mobile device is more than a minute. When you have upwards of a few bugs that you need to translate from your device into your development management tools like Jira, Trello, Slack or Pivotal, that can take an excessive amount of time. Core Problem: How do you reduce that time significantly for project &amp; product managers?</p>
            <p>Working product and project management at a development agency, my partner and I knew that we had to remove the need to upload screenshots to your computer before making annotations.</p>
            <p>The previous process included:</p>
            <div class="p-process flex">
              <div class="list-column">
                  <ul>
                    <li>1. Take a screenshot of the bugs</li>
                    <li>2a. Plug phone into computer</li>
                    <li>2b. Upload photos to google drive or dropbox using native apps</li>
                    <li>3. Download / preview photo</li>
                    <li>4. Take screenshot</li>
                  </ul>
              </div>
              <div class="list-column">
                  <ul>
                    <li>5. Annotate screenshot</li>
                    <li>6. Open up project management tool (Slack, Jira, Trello, Pivotal Tracker)</li>
                    <li>7. Create Ticket &amp; add description</li>
                    <li>8. Attach photo with annotations</li>
                    <li>9. Complete</li>
                  </ul>
              </div>
            </div>
            <p>After about 16 rounds of iterations, we were able to get the flow down to less than half that. Our new flow included:</p>
            <div class="p-process flex">
              <div class="list-column">
                  <ul>
                    <li>1. Take a screenshot of the bugs</li>
                    <li>2. Open Up Dodo</li>
                    <li>3. Choose Photo</li>
                  </ul>
              </div>
              <div class="list-column">
                  <ul>
                    <li>4. Tap Bug Area to add comment (which is optional)</li>
                    <li>5. Post to integration (Slack, Jira, Trello or Pivotal Tracker)</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


        <section id="mocks" class="f-width mocks">
          <div class="screens--screen animation">
            <div class="photo-width phone-flow">
              <picture>
                <img src="../assets/media/dodo/dodo-1-l.gif" alt="Dodo Flow">
              </picture>
            </div>
            <div class="photo-width phone-bg">
              <picture>
                <img src="../assets/media/dodo/phone-bg.png" alt="Phone Background">
              </picture>
            </div>
          </div>
        </section>

        {% include next-project.html %}


      </div>

      {% include footer.html %}

      {% include menu.html %}

      {% include message.html %}

      {% include js.html %}

    </body>
</html>
