---
meta_title: Dodo App | Alex Cagwin
---


<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="dodo" class="main-bg">
    <div id="main" class="content flex flex-horizontal-center">
      <div id="header" class="nav-2 header animated header--fixed">
        <div class="nav--content">
          <a href="/" id="close" class="close-button" >
            <div class="close-out"></div>
          </a>
          <div class="nav--break"></div>
          <a href="/eventyoda" title="Previous Project">
            <i class="fa fa-angle-left"></i>
            <span class="nav-tooltip">Previous Project</span>
          </a>
          <a href="/cpdc"title="Next Project">
            <i class="fa fa-angle-right"></i>
            <span class="nav-tooltip">Next Project</span>
          </a>
          <a href="mailto:hey@acag.win" class="desktop-hide">
            <i class="fa fa-envelope-o"></i>
          </a>
          <a data-clipboard-text="hey@acag.win" class="no-smoothState copied mobile-hide">
            <i class="fa fa-envelope-o"></i>
            <span class="nav-tooltip">Shoot Me an Email</span>
          </a>
        </div>
      </div>

      <div id="header" class="project--header f-width">
        <div class="header">
          <div class="header-title block">
            <h1 class="hidden">Dodo App</h1>
            <span class="h1">Dodo App</span><span class="h1 project-period">.</span>
          </div>
          <div class="header-content">
            <span class="h4">Making mobile bug reporting less painful.</span>
          </div>
        </div>
      </div>

        <section id="mocks" class="f-width mocks">
            <div class="screens--screen">
              <div class="photo-width" style="display: flex;">
                <picture class="logo-center">
                    <img src="../assets/media/dodo/main.png" alt="Dodo Logo" class="logo">
                </picture>
              </div>
            </div>
        </section>

        <section class="footer" style="margin: 0">
            <div class="footer--content">
              <div class="footer--item-2">
                <span class="footer-label grey">Challenge</span>
                <div class="list-item">
                  <p>Significantly reduce the effort and time to report mobile app bugs.</p>
                </div>
              </div>
              <div class="footer--item">
                <span class="footer-label grey">Role</span>
                <div class="list-item">
                  <p>Product Designer</p>
                </div>
              </div>
              <div class="footer--item">
                <span class="footer-label grey">Product Manager</span>
                <div class="list-item">
                  <p>Rathan Haran</p>
                </div>
              </div>
              <div class="footer--item">
                <span class="footer-label grey">Art Director</span>
                <div class="list-item">
                  <p>Jackie Cruickshank</p>
                </div>
              </div>
              <div class="footer--item-2">
                <div class="project-live">
                  <span class="view main">Coming Soon</span>
                </div>
              </div>
            </div>
        </section>

        <section id="like" class="padding f-width">
          <div class="wrap">
            <div class="section-title">
              <span class="h4 main">Solution</span>
            </div>
            <div class="section-content">
              <p>Working product and project management at a development agency, My partner and I knew that we had to remove the need to upload screenshots to your computer before making annotations.</p>
              <p>The previous process included:</p>
              <div class="p-process flex">
                <div class="list-column">
                    <ul>
                      <li>1. Take a screenshot of the bugs</li>
                      <li>2a. Plug phone into computer</li>
                      <li>2b. Upload photos to google drive or dropbox using native apps</li>
                      <li>3. Download / preview photo</li>
                      <li>4. Take screenshot</li>
                    </ul>
                </div>
                <div class="list-column">
                    <ul>
                      <li>5. Annotate screenshot</li>
                      <li>6. Open up project management tool (Slack, Jira, Trello, Pivotal Tracker)</li>
                      <li>7. Create Ticket &amp; add description</li>
                      <li>8. Attach photo with annotations</li>
                      <li>9. Complete</li>
                    </ul>
                </div>
              </div>
              <p>After about 16 rounds of iterations, we were able to get the flow down to less than half that. Our new flow included:</p>
              <div class="p-process flex">
                <div class="list-column">
                    <ul>
                      <li>1. Take a screenshot of the bugs</li>
                      <li>2. Open Up Dodo</li>
                      <li>3. Choose Photo</li>
                    </ul>
                </div>
                <div class="list-column">
                    <ul>
                      <li>4. Tap Bug Area to add comment (which is optional)</li>
                      <li>5. Post to integration (Slack, Jira, Trello or Pivotal Tracker)</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--
        <section id="mocks" class="f-width mocks-light">
          <div class="screens--screen">
            <div class="photo-width phone-bg">
              <picture>
                <img src="media/dodo/dodo-1-l.gif" alt="Dodo Flow">
              </picture>
            </div>
          </div>
        </section> -->

        <section id="mocks" class="f-width mocks-light">
          <div class="screens--screen animation">
            <div class="photo-width phone-flow">
              <picture>
                <img src="../assets/media/dodo/dodo-1-l.gif" alt="Dodo Flow">
              </picture>
            </div>
            <div class="photo-width phone-bg">
              <picture>
                <img src="../assets/media/dodo/phone-bg.png" alt="Phone Background">
              </picture>
            </div>
          </div>
        </section>

        <div class="next-project" id="cpdc">
          <a href="/cpdc" title="Cal Poly Distance Club" class="next--content wrap">
            <span class="footer-label">Next Project</span>
            <span class="next-label">Cal Poly Distance Club</span>
            <div class="next-background"></div>
          </a>
        </div>
      </div>


      {% include footer.html %}

      {% include message.html %}

      {% include js.html %}

    </body>
</html>
