---
meta_title: Alex Cagwin | Digital Designer
---

<html lang="en-us">
  <head>

      {% include head.html %}

      {% include headjs.html %}
  </head>
  <body>

    <div id="main" class="content home-padding flex flex-horizontal-center">
      <div id="header" class="nav-2 header animated header--fixed">
        <div class="nav--content">
          <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
            <i class="fa fa-linkedin"></i>
            <span class="nav-tooltip">Connect with Me</span>
          </a>
          <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
            <i class="fa fa-twitter"></i>
            <span class="nav-tooltip">Follow Me</span>
          </a>
          <a href="mailto:hey@acag.win" class="desktop-hide">
            <i class="fa fa-envelope-o"></i>
          </a>
          <a data-clipboard-text="hey@acag.win" class="no-smoothState copied mobile-hide">
            <i class="fa fa-envelope-o"></i>
            <span class="nav-tooltip">Shoot Me an Email</span>
          </a>
        </div>
      </div>

      <section id="header" class="home-width header-space">
        <div class="header">
          <div class="header-title block">
            <h1 class="hidden">Alex Cagwin</h1>
            <span class="h1">Alex Cagwin.</span>
          </div>
        </div>
        <div class="section-content-display">
          <div class="p-action">
            <span class="ov">I’m a digital designer freelancing in San Francisco. I recently lead the design team over at West Agile Labs. I also created the World’s Best Breakfast Tacos with my roommate Lambert. <a href="/about" title="About Me">Read the Full Bio.</a></span>
          </div>
          </a>
        </div>
      </section>

      <section id="projects" class="home-width projects">

          <div class="section-title">
            <span class="header-label pink">Client Work</span>
          </div>
          <div class="section-content">
            <ul class="flex">
              <li id="hopsy">
                <span class="h5">Hopsy</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p class="ov">Lead the re-design and prototyping of Hopsy, a marketplace for fresh, local, craft beers in winter of 2017. <a href="/hopsy" title="Hopsy">View Case Study.</a></p>
                </div>
              </li>
              <li id="fidelity">
                <span class="h5">Fidelity</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p class="ov">Helped re-design <a href="https://www.fidsafe.com/" target="_blank" title="View Site">Fidsafe</a>, a document collaboration tool for Fidelity clients in winter of 2017.</p>
                </div>
              </li>
              <li id="dumptruck">
                <span class="h5">Dumptruck</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p class="ov">Designed and prototyped a large-scale, trucking logistics platform. Worked on it in fall/winter of 2016. <a href="/dumptruck" title="View Case Study">View Case Study.</a> </p>
                </div>
              </li>
              <li id="octaneai">
                <span class="h5">Octane AI</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p class="ov">Lead product design and prototyping for <a href="https://octaneai.com/" target="_blank" title="View Site">Octane AI</a>, a new way to build chatbots, in Fall of 2016. Did some of front-end development as well. <a href="/octaneai" title="View Case Study">View Case Study.</a></p>
                </div>
              </li>
              <li id="vfl">
                <span class="h5">Virtual Fantasy League</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p class="ov">Lead design on a new way to engage in Fantasty League sports. Launching Spring 2017. <a href="/vfl" title="View Case Study">View Case Study</a> or <a href="https://itunes.apple.com/app/id1106502140?mt=8&&referrer=click%3D6cb0bc06-4113-49ea-9f5f-797e10e6ed2f" target="_blank" title="Downlaod the App">Download the App.</a></p>
                </div>
              </li>
              <li id="everwill">
                <span class="h5">Everwill</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Lead product design and iterative prototyping of a <a href="https://everwill.com/" target="_blank" title="View Site">responsive web app</a> to make the will building process easier than ever. Worked on this back in Fall of 2016. <a href="/everwill" title="View Case Study">View Case Study.</a></p>
                </div>
              </li>
              <li id="westagile">
                <span class="h5">West Agile Labs</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Product design, branding and front-end development for our SF-based <a href="http://westagilelabs.com" target="_blank" title="View Site">digital product agency</a>. Launching Spring 2017.</p>
                </div>
              </li>
              <li id="nvolv">
                <span class="h5">Nvolv</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Branding, product design and prototyping for bespoke events iOS app in spring of 2016. <a href="/nvolv" title="View Case Study">View Case Study.</a></p>
                </div>
              </li>
              <li id="instapark">
                <span class="h5">Instapark</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Lead the re-design and iterative prototypes of an on-demand, car-port-sharing mobile app concept back in winter of 2015. <a href="/instapark" title="View Case Study">View Case Study.</a></p>
                </div>
              </li>
              <li id="natera">
                <span class="h5">Natera</span><span class="h5 project-period">.</span>
                <div class="p-action">
                  <p>Helped design some internal sales tools and a <a href="https://my.natera.com/" target="_blank">client facing portal</a> back in Fall of 2015.</p>
                </div>
              </li>
            </ul>
        </div>


        <div class="section-title">
          <span class="header-label pink">Personal Projects</span>
        </div>
        <div class="section-content">
          <ul class="flex">
            <li id="breakfast">
              <span class="h5">The World's Best Breakfast Tacos</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>On a quest to make the best breakfast taco's the world has ever seen. Shoot me an email for a taste test. <a href="http://theworldsbestbreakfasttacos.com" title="The World's Best Breakfast Tacos">Check out the tacos</a></p>
              </div>
            </li>
            <li id="dodo">
              <span class="h5">Dodo</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Product design and prototyping for internal tool to help reduce mobile-bug reporting time. <a href="/dodo" title="View Case Study">View Case Study.</a></p>
              </div>
            </li>
            <li id="cpdc">
              <span class="h5">Cal Poly Distance Club</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Branding, product design and front-end development for my old college cross country team. Launching winter 2016. <a href="/cpdc" title="View Project">View The Project.</a></p>
              </div>
            </li>
            <li id="ug">
              <span class="h5">The Underground Symphony</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Exploring the muscians of New York's sprawling subway system. I worked on the branding and product design. <a href="/ug" title="View Project">View The Project.</a></p>
              </div>
            </li>
            <li id="yearinreview">
              <span class="h5">Year In Review</span><span class="h5 project-period">.</span>
              <div class="p-action">
                <p>Personal project. Adventures and photos throughout the years. <a href="http://yearinreview.acag.win/2016" target="_blank" title="Year In Review">Take a Peek Into My Life</a></p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>


    {% include footer.html %}

    {% include message.html %}

    {% include js.html %}

  </body>
</html>
