---
meta_title: Marcel | Alex Cagwin
project: Marcel
nextProject: octaneai
nextProjectTitle: Octane AI
previousProject: harleydavidson
highlight: Connecting the Publicis Groupe's 80,000 Employees.
challenge: Removing information and work silos across the Publicis Groupe's 150+ brands.
details:
  - label: Role
    content: Product Design Lead
  - label: Timeline
    content: Jan '18 – May '20
  - label: Delivery
    content: iOS, Android & Web
credits:
  - label: Agency
    content: Publicis Sapient
  - label: Head of Product
    content: Suff Syed
  - label: Head of Strategy
    content: Tara Flippin
contributions:
  - item: Product Design
  - item: Interaction Design
  - item: Visual Design
  - item: Design-Backlog Prioritization
  - item: Kick-Off & KPI Facilitation
  - item: Daily Design Sync Facilitation
  - item: Prototyping
  - item: User Research Sessions
  - item: User Research Synthesis
menu:
  - title: Home
    link:
  - title: About Me
    link: about
  - title: Harley-Davidson
    link: harleydavidson
  - title: Marcel
    link: marcel
  - title: Octane AI
    link: octaneai
  - title: BabyNoggin
    link: babynoggin
  - title: Dumptruck
    link: dumptruck
  - title: Archive & Fun
    link: archive

---

<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="main" class="main-bg">
    <div id="marcel">

      {% include navigation.html %}

      <div class="hero-banner marcel-bg"></div>

      <div class="home-padding project-hero" style="background-color: #000">
        <div class="hero">
          <div class="header-title block">
            <h1 class="hidden">{{ page.project }}</h1>
          </div>
          <div class="header-content">
            <span class="header-project-text main">{{ page.project }}</span>
            <span class="header-project-desc white">{{ page.highlight }}</span>
            <div class="header--details">
              {% for item in page.details %}
                <div class="header--details-item">
                  <span class="header--details-label">{{ item.label }}</span>
                  <span class="header--details-content">{{ item.content}}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="header-hero">
          <picture>
            <img src="../assets/media/marcel/hero.png" alt="Screenshot of marcel on iPad">
          </picture>
        </div>
      </div>

      <section class="intro content-padding">

        <div class="intro-content">

          <div class="project-break desktop-hide-2"></div>

          <!-- <div class="intro-break header desktop-hide"></div> -->

          <div class="intro-details-split">
            <div class="intro-details">

              <span class="project-label">Credits</span>

              {% for item in page.credits %}

                <div class="intro-details-2">
                  <span class="list-label">{{ item.label}}</span>
                  <span class="list-item">{{ item.content}}</span>
                </div>

              {% endfor %}

            </div>

            <div class="intro-details">

              <span class="project-label">Contributions</span>

              {% for item in page.contributions %}

                <div class="intro-details-2">
                  <span class="list-label">{{ item.item }}</span>
                </div>

              {% endfor %}

            </div>
            <a href="http://www.marcel.ai/" target="_blank" title="View Live" class="header-project-live main">View Live</a>
          </div>


        </div>

        <div class="body-content">
          <div>
            <span class="project-label">Challenge</span>
            <span class="project-challenge">{{ page.challenge }}</span>
          </div>

          <div class="project-break"></div>

          <div class="section-content">
            <span class="project-label">Overview</span>
            <p>The Publicis Groupe is a French multinational advertising and public relations company. With just the 3rd CEO in its 90 year history, The Publicis Groupe started Marcel in 2017 as an intiaitve to identify software opportunities to implement their new global client model: ‘The Power of One.”</p>
            <p style="margin: 0">At it’s core, Marcel is an ecosystem that centralizes data across the group’s 150+ agencies and 80,000+ employees. To help streamline work and more efficiently distribute knowledge, the platform focuses on a few key solutions:</p>
            <div class="section-hero-numbers">
              <div class="hero-numbers-item">
                <div class="numbers-item-number">
                  <span>0</span>
                  <span>1</span>
                </div>
                <span class="numbers-item-desc">Searching & Connecting with the Groupe's Talent</span>
              </div>
              <div class="hero-numbers-item">
                <div class="numbers-item-number">
                  <span>0</span>
                  <span>2</span>
                </div>
                <span class="numbers-item-desc">Digitizing Communities and Groups</span>
              </div>
              <div class="hero-numbers-item">
                <div class="numbers-item-number">
                  <span>0</span>
                  <span>3</span>
                </div>
                <span class="numbers-item-desc">Short and Long Term Job Opportunities</span>
              </div>
              <div class="hero-numbers-item">
                <div class="numbers-item-number">
                  <span>0</span>
                  <span>4</span>
                </div>
                <span class="numbers-item-desc">Managing Productivity (Timehseets, Calendar &amp; Email)</span>
              </div>
              <div class="hero-numbers-item">
                <div class="numbers-item-number">
                  <span>0</span>
                  <span>5</span>
                </div>
                <span class="numbers-item-desc">Centalization of Thought Leadership and Annoucements</span>
              </div>
              <div class="hero-numbers-item">
                <div class="numbers-item-number">
                  <span>0</span>
                  <span>6</span>
                </div>
                <span class="numbers-item-desc">Proactive Recommendation Engine</span>
              </div>
            </div>
          </div>


          <div class="project-break"></div>

          <div class="press">
            <span class="project-label">Roles &amp; Projects</span>
            <p>I joined in early 2018 to help shape, design and deliver some of the previously identified opportunity spaces. Over the course of the next 2 years, I worked on a number of projects and held a variety of roles. Below are some of the key ones.</p>

            <div class="testimonials dark">
              <div class=testimonial-item>
                <div class="focus-number">
                  <span class="focus-number-item offwhite">0</span>
                  <span class="focus-number-item offwhite">1</span>
                </div>
                <span class="testimonial-label">Product-Led Program</span>
                <span class="testimonial-author">Product Designer</span>
                <span class="testimonial-author t-author-margin">May 2018</span>
                <span class="testimonial-desc">I drove an initiative to evolve the delivery system of the entire program from client-agency to product-led.</span>
              </div>

              <div class=testimonial-item>
                <div class="focus-number">
                  <span class="focus-number-item offwhite">0</span>
                  <span class="focus-number-item offwhite">2</span>
                </div>
                <span class="testimonial-label">Fluent Framework Implementation</span>
                <span class="testimonial-author">Systems Lead, UX</span>
                <span class="testimonial-author t-author-margin">July 2018</span>
                <span class="testimonial-desc">The visual design lead and myself worked with Microsoft’s principle design team to roll out a new conversational design paradigm to our 5 product teams.</span>
              </div>

              <div class=testimonial-item>
                <div class="focus-number">
                  <span class="focus-number-item offwhite">0</span>
                  <span class="focus-number-item offwhite">3</span>
                </div>
                <span class="testimonial-label">Web 1.0</span>
                <span class="testimonial-author">Product Design Lead</span>
                <span class="testimonial-author t-author-margin">November 2018</span>
                <span class="testimonial-desc">I led a team of 5 UX designers and 2 researchers to translate our native apps into a responsive web platform</span>
              </div>

              <div class=testimonial-item>
                <div class="focus-number">
                  <span class="focus-number-item offwhite">0</span>
                  <span class="focus-number-item offwhite">4</span>
                </div>
                <span class="testimonial-label">Native Apps 2.0</span>
                <span class="testimonial-author">Product Design Lead</span>
                <span class="testimonial-author t-author-margin">June 2019</span>
                <span class="testimonial-desc">I led a team of 6 designers and 1 researcher to evolve Marcel from a voice based, conversational framework to a traditional UI paradigm.</span>
              </div>

            </div>


          </div>

        </div>
      </section>

      <div class="home-padding mocks-proto" style="background-color: #f7f7f7">

        <div class="full-bleed eight-11">
          <div class="content-item-img ">
            <picture>
              <source
                  data-srcset="../assets/media/marcel/8-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/marcel/8-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/marcel/8-s.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/marcel/8-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
          <div class="content-item-img ">
            <picture>
              <source
                  data-srcset="../assets/media/marcel/9-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/marcel/9-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/marcel/9-s.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/marcel/9-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
          <div class="content-item-img ">
            <picture style="box-shadow:none">
              <source
                  data-srcset="../assets/media/marcel/10-xxl.png"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/marcel/10-l.png"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/marcel/10-s.png"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/marcel/10-l.png"
                  class="lazyload blur-up" />
            </picture>
          </div>
          <div class="content-item-img ">
            <picture>
              <source
                  data-srcset="../assets/media/marcel/11-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/marcel/11-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/marcel/11-s.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/marcel/11-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
          <div class="content-item-img ">
            <picture>
              <source
                  data-srcset="../assets/media/marcel/12-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/marcel/12-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/marcel/12-s.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/marcel/12-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
        </div>

        <div class="marcel-cs-link">
          <a href="https://www.dropbox.com/s/hr0cntb3f8eeyji/Marcel.pdf?dl=0" target="-_blank" title="Download Case Study" class="cs-link">
            <span>Download The Full Case Study</span>
          </a>
        </div>
      </div>



      <div>
        <div class="content-break"></div>
      </div>





      </div>

      {% include footerCS.html %}

      {% include menu.html %}

      {% include message.html %}

      {% include js.html %}

    </body>
</html>
