---
meta_title: Octane AI | Alex Cagwin
project: Octane AI
nextProject: babynoggin
nextProjectTitle: BabyNoggin
previousProject: marcel
highlight: Build your audience on Facebook Messenger.
challenge: Allow publishers without coding experience, create and manage a Facebook Messenger chatbot.
details:
  - label: Role
    content: Design Lead
  - label: Timeline
    content: Sep '16 – Dec '16
  - label: Delivery
    content: Responsive Web
credits:
  - label: Agency
    content: West Agile Labs
  - label: Jackie Cruickshank
    content: Art Director
  - label: Danielle Hadley
    content: Product Designer
contributions:
  - item: Product Design
  - item: Interaction Design
  - item: Feature Prioritization
  - item: Prototyping
  - item: Kick Off Facilitation
  - item: KPI Definition
  - item: Front-end Development
menu:
  - title: Home
    link:
  - title: About Me
    link: about
  - title: Harley-Davidson
    link: harleydavidson
  - title: Marcel
    link: marcel
  - title: Octane AI
    link: octaneai
  - title: BabyNoggin
    link: babynoggin
  - title: Dumptruck
    link: dumptruck
  - title: Archive & Fun
    link: archive

---

<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="main" class="main-bg">
    <div id="octaneai">

      {% include navigation.html %}

      <div class="hero-banner octane-bg"></div>

      <div class="home-padding project-hero" style="background-color: #106BE0">
        <div class="hero">
          <div class="header-title block">
            <h1 class="hidden">{{ page.project }}</h1>
          </div>
          <div class="header-content">
            <span class="header-project-text white">{{ page.project }}</span>
            <span class="header-project-desc white">{{ page.highlight }}</span>
          </div>
        </div>
        <div class="header--details">
          {% for item in page.details %}
            <div class="header--details-item">
              <span class="header--details-label">{{ item.label }}</span>
              <span class="header--details-content">{{ item.content}}</span>
            </div>
          {% endfor %}
        </div>
        <div class="header-hero monitor">
          <picture>
            <img src="../assets/media/octane/main-hero.png" alt="Screenshot of BabyNoggin on iPad">
          </picture>
        </div>
      </div>

      <section class="intro content-padding">

        <div class="intro-content">

          <div class="project-break desktop-hide-2"></div>

          <!-- <div class="intro-break header desktop-hide"></div> -->

          <div class="intro-details-split">
            <div class="intro-details">

              <span class="project-label">Credits</span>

              {% for item in page.credits %}

                <div class="intro-details-2">
                  <span class="list-label">{{ item.label}}</span>
                  <span class="list-item">{{ item.content}}</span>
                </div>

              {% endfor %}

            </div>

            <div class="intro-details">

              <span class="project-label">Contributions</span>

              {% for item in page.contributions %}

                <div class="intro-details-2">
                  <span class="list-label">{{ item.item }}</span>
                </div>

              {% endfor %}

            </div>
            <a href="http://www.octaneai.com/" target="_blank" title="View Live" class="header-project-live main">View Live</a>
          </div>


        </div>

        <div class="body-content">
          <div>
            <span class="project-label">Challenge</span>
            <span class="project-challenge">{{ page.challenge }}</span>
          </div>

          <div class="project-break"></div>

          <div class="section-content">
            <span class="project-label">Overview</span>
            <p>At the beginning of fall 2016, Octane AI saw an opportunity for content creators to interact with their millions of fans on Facebook. They partnered with West Agile Labs to help build out their first vision chatbot builder and manager.</p>
            <p>I oversaw the design efforts for simplifying the complex nature of chatbots. Branding and art direction was driven by Jackie Cruickshank while I lead product and interaction design with help from Danielle Hadley. </p>
          </div>

          <div class="project-break"></div>

          <div class="section-content">
            <span class="project-label">Results</span>
            <div class="section-results">
              <div class="result-item">
                <div class="result-stat main">
                  <span>100</span>
                  <span class="result-stat-add">m</span>
                </div>
                <span class="result-label">Fans Interacting with Octane AI Chatbots</span>
              </div>
              <div class="result-item">
                <span class="result-stat main">3:00</span>
                <span class="result-label">Average Time to Set up a Chatbot</span>
              </div>
            </div>
            <p style="margin: 0">Octane AI had a successful beta launch and quickly raised a series A round. Some of their beta users included: 50 Cent, Aerosmith, Kiss, 30 Seconds to Mars, SPiN and Magic Mike Live. </p>
          </div>

          <div class="project-break"></div>

          <div class="press">
            <span class="project-label">Press</span>
            <div class="press-item">
              <span class="press-quote">&ldquo;</span>
              <p>Their business is like web design platforms Wix or Weebly, but for chatbots. It’s a paint-by-numbers for bot creation that’s so easy, I could do it.</p>
              <a href="https://techcrunch.com/2016/11/02/general-catalyst-backed-octane-will-make-you-a-bot/" title="Tech Crunch" target="_blank">Katie Roof — TechCrunch</a>
            </div>
            <div class="press-item">
              <span class="press-quote">&ldquo;</span>
              <p>Octane AI is a platform that enables businesses to set up powerful chatbots on Facebook Messenger in just a few minutes.</p>
              <a href="http://tech.co/octane-ai-makes-chatbots-easier-everyone-2016-11" title="Tech Crunch" target="_blank">Tech.Co</a>
            </div>
            <div class="press-item">
              <span class="press-quote">&ldquo;</span>
              <p>Octane keeps that promise of five minutes or less</p>
              <a href="http://venturebeat.com/2016/11/02/octane-ai-launches-with-bots-for-50-cent-kiss-and-aerosmith/" title="VentureBeat" target="_blank">VentureBeat</a>
            </div>
            <div class="press-item">
              <span class="press-quote">&ldquo;</span>
              <p>I built a chatbot. It can only do a handful of things, and it’s even dumber than the average chatbot. But it works, and I can talk to it through Facebook Messenger. More importantly, I’m not a coder.</p>
              <a href="https://www.bloomberg.com/news/articles/2016-11-02/these-apps-let-anyone-build-a-dumb-chatbot" title="Bloomberg" target="_blank">Ellen Huet — Bloomberg</a>
            </div>
          </div>
        </div>
      </section>

      <div class="home-padding mocks-proto" style="background-color: #014AA8">
        <div class="prototype">
          <picture>
            <video width="100%" height="100%" src="../assets/media/octane/Octane.mov" autoplay="auto" loop muted class="laptop-video"></video>
          </picture>
        </div>
      </div>


      <section class="content-padding">
        <div class="section-hero">
          <div class="section-hero-title">
            <div class="section-number sn-10">
              <span class="section-number-item">0</span>
              <span class="section-number-item">1</span>
            </div>
            <span class="section-hero-header">Bot Building</span>
          </div>
          <div class="section-hero-content">
            <p class="content-header">Publishers had 6 types of chatbots each with a particular focus. Each type of chatbot had a similar flow that took the creator step by step, starting with type and ending with final details. We modeled this similar to an airline or e-commerce checkout so that it would be familar and understandable.</p>
          </div>

        </div>

        <div class="content-item">
          <div class="content-item-img straight">
            <picture>
              <source
                  data-srcset="../assets/media/octane/1-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/octane/1-xl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/octane/1-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/octane/1-m.jpg"
                  media="(min-width: 1000px)" />
              <source
                  data-srcset="../assets/media/octane/1-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/octane/1-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/octane/1-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
        </div>

        <div class="tri-grid spacing">
          <picture>
            <source
                data-srcset="../assets/media/octane/2-xxl.jpg"
                media="(min-width: 1500px)" />
            <source
                data-srcset="../assets/media/octane/2-l.jpg"
                media="(min-width: 1200px)" />
            <source
                data-srcset="../assets/media/octane/2-s.jpg"
                media="(min-width: 700px)" />
            <source
                data-srcset="../assets/media/octane/2-p.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/octane/2-l.jpg"
                class="lazyload blur-up" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/octane/3-xxl.jpg"
                media="(min-width: 1500px)" />
            <source
                data-srcset="../assets/media/octane/3-l.jpg"
                media="(min-width: 1200px)" />
            <source
                data-srcset="../assets/media/octane/3-s.jpg"
                media="(min-width: 700px)" />
            <source
                data-srcset="../assets/media/octane/3-p.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/octane/3-l.jpg"
                class="lazyload blur-up" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/octane/4-xxl.jpg"
                media="(min-width: 1500px)" />
            <source
                data-srcset="../assets/media/octane/4-l.jpg"
                media="(min-width: 1200px)" />
            <source
                data-srcset="../assets/media/octane/4-s.jpg"
                media="(min-width: 700px)" />
            <source
                data-srcset="../assets/media/octane/4-p.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/octane/4-l.jpg"
                class="lazyload blur-up" />
          </picture>
        </div>

        <div class="content-item">
          <div class="content-item-img">
            <picture>
              <source
                  data-srcset="../assets/media/octane/5-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/octane/5-xl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/octane/5-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/octane/5-m.jpg"
                  media="(min-width: 1000px)" />
              <source
                  data-srcset="../assets/media/octane/5-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/octane/5-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/octane/5-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
        </div>
      </section>

      <div>
        <div class="content-break"></div>
      </div>

      <section class="content-padding">

        <div class="section-hero">
          <div class="section-hero-title vertical-split">
            <div class="section-number sn-10">
              <span class="section-number-item">0</span>
              <span class="section-number-item">2</span>
            </div>
            <span class="section-hero-header">Track Your Bot</span>
            <div class="section-hero-content mb grid-6">
              <p class="content-header col-1-6">After creating a bot, publisher had the ability to view and track against the performance of their bots.</p>
            </div>
          </div>
          <div class="section-hero-content grid-6">
            <div class="hero-item col-2">
              <div class="content-item-img">
                <picture>
                  <source
                      data-srcset="../assets/media/octane/6-xxl.jpg"
                      media="(min-width: 1500px)" />
                  <source
                      data-srcset="../assets/media/octane/6-l.jpg"
                      media="(min-width: 1200px)" />
                  <source
                      data-srcset="../assets/media/octane/6-s.jpg"
                      media="(min-width: 700px)" />
                  <source
                      data-srcset="../assets/media/octane/6-p.jpg"
                      media="(min-width: 100px)" />
                  <img
                      data-sizes="auto"
                      data-src="../assets/media/octane/6-l.jpg"
                      class="lazyload blur-up" />
                </picture>
              </div>
            </div>
          </div>

        </div>


        <div class="content-item">
          <div class="content-item-img">
            <picture>
              <source
                  data-srcset="../assets/media/octane/7-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/octane/7-xl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/octane/7-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/octane/7-m.jpg"
                  media="(min-width: 1000px)" />
              <source
                  data-srcset="../assets/media/octane/7-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/octane/7-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/octane/7-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
        </div>

        <div class="content-item">
          <div class="content-item-img">
            <picture>
              <source
                  data-srcset="../assets/media/octane/8-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/octane/8-xl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/octane/8-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/octane/8-m.jpg"
                  media="(min-width: 1000px)" />
              <source
                  data-srcset="../assets/media/octane/8-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/octane/8-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/octane/8-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
        </div>

      </section>


      <div>
        <div class="content-break"></div>
      </div>


      <section class="content-padding">
        <div class="section-hero">
          <div class="section-hero-title">
            <div class="section-number sn-10">
              <span class="section-number-item">0</span>
              <span class="section-number-item">3</span>
            </div>
            <span class="section-hero-header">Content Integrations & Plugin Health</span>
          </div>
          <div class="section-hero-content">
            <p class="content-header">We designed a solution that enables developers to build and add integrations to the Octane AI ecosystem. This enabled chatbot managers to elevate their messenger bot to pull in content from a variety of sources, such as Spotify and Soundcloud.</p>
          </div>
        </div>

        <div class="content-split">
          <div class="content-item">
            <div class="content-item-img straight">
              <picture>
                <source
                    data-srcset="../assets/media/octane/9-xxl.jpg"
                    media="(min-width: 1500px)" />
                <source
                    data-srcset="../assets/media/octane/9-l.jpg"
                    media="(min-width: 1200px)" />
                <source
                    data-srcset="../assets/media/octane/9-s.jpg"
                    media="(min-width: 700px)" />
                <source
                    data-srcset="../assets/media/octane/9-p.jpg"
                    media="(min-width: 100px)" />
                <img
                    data-sizes="auto"
                    data-src="../assets/media/octane/9-l.jpg"
                    class="lazyload blur-up" />
              </picture>
            </div>
          </div>

          <div class="content-item">
            <div class="content-item-img">
              <picture>
                <source
                    data-srcset="../assets/media/octane/10-xxl.jpg"
                    media="(min-width: 1500px)" />
                <source
                    data-srcset="../assets/media/octane/10-l.jpg"
                    media="(min-width: 1200px)" />
                <source
                    data-srcset="../assets/media/octane/10-s.jpg"
                    media="(min-width: 700px)" />
                <source
                    data-srcset="../assets/media/octane/10-p.jpg"
                    media="(min-width: 100px)" />
                <img
                    data-sizes="auto"
                    data-src="../assets/media/octane/10-l.jpg"
                    class="lazyload blur-up" />
              </picture>
            </div>
          </div>
        </div>
      </section>

      <div>
        <div class="content-break"></div>
      </div>


      <section class="content-padding">
        <div class="section-hero">
          <div class="section-hero-title">
            <div class="section-number sn-10">
              <span class="section-number-item">0</span>
              <span class="section-number-item">4</span>
            </div>
            <span class="section-hero-header">Custom Responses</span>
          </div>
          <div class="section-hero-content">
            <p class="content-header">We designed away for publishers to add in custom responses. They have the ability to view unkonwn responses by popularity and generate responses accordingly. They also had the ability to generate randomized messages for any other message.</p>
          </div>

        </div>


        <div class="content-split-2">
          <div class="content-item-img height col-2">
            <picture>
              <source
                  data-srcset="../assets/media/octane/11-xxl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/octane/11-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/octane/11-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/octane/11-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/octane/11-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
          <div class="content-item-img spacing col-3">
            <picture>
              <source
                  data-srcset="../assets/media/octane/12-xxl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/octane/12-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/octane/12-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/octane/11-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/octane/11-l.jpg"
                  class="lazyload blur-up" />
            </picture>

          </div>
        </div>


        <div class="content-item">
          <div class="content-item-img">
            <picture>
              <source
                  data-srcset="../assets/media/octane/13-xxl.jpg"
                  media="(min-width: 1900px)" />
              <source
                  data-srcset="../assets/media/octane/13-xl.jpg"
                  media="(min-width: 1500px)" />
              <source
                  data-srcset="../assets/media/octane/13-l.jpg"
                  media="(min-width: 1200px)" />
              <source
                  data-srcset="../assets/media/octane/13-m.jpg"
                  media="(min-width: 1000px)" />
              <source
                  data-srcset="../assets/media/octane/13-s.jpg"
                  media="(min-width: 700px)" />
              <source
                  data-srcset="../assets/media/octane/13-p.jpg"
                  media="(min-width: 100px)" />
              <img
                  data-sizes="auto"
                  data-src="../assets/media/octane/13-l.jpg"
                  class="lazyload blur-up" />
            </picture>
          </div>
        </div>

      </section>



      <section class="final-content">
        <picture>
          <source
              data-srcset="../assets/media/octane/multiple-xxl.jpg"
              media="(min-width: 1900px)" />
          <source
              data-srcset="../assets/media/octane/multiple-xl.jpg"
              media="(min-width: 1500px)" />
          <source
              data-srcset="../assets/media/octane/multiple-l.jpg"
              media="(min-width: 1200px)" />
          <source
              data-srcset="../assets/media/octane/multiple-m.jpg"
              media="(min-width: 1000px)" />
          <source
              data-srcset="../assets/media/octane/multiple-s.jpg"
              media="(min-width: 700px)" />
          <source
              data-srcset="../assets/media/octane/multiple-p.jpg"
              media="(min-width: 100px)" />
          <img
              data-sizes="auto"
              data-src="../assets/media/octane/multiple-l.jpg"
              class="lazyload blur-up" />
        </picture>
      </section>





      </div>

      {% include footerCSlite.html %}

      {% include menu.html %}

      {% include message.html %}

      {% include js.html %}

    </body>
</html>
