---
meta_title: The Underground Symphony | Alex Cagwin
bg_color: 1A1A1A
project: The Underground Symphony
nextProject:
nextProjectTitle: All Projects
previousProject: cpdc
challenge: To introduce and educate people about New York's subway's musicians.
details:
  - label: Role
    content: Lead Designer
  - label: Art Director
    content: Nathan Podshadley
  - label: Year
    content: Summer 2016
menu:
  - title: Home
    link:
  - title: About Me
    link: about
  - title: Hopsy
    link: hopsy
  - title: Dumptruck
    link: dumptruck
  - title: Octane AI
    link: octaneai
  - title: Nvolv
    link: nvolv
  - title: Instapark
    link: instapark
  - title: Dodo App
    link: dodo
  - title: Cal Poly Distance Club
    link: cpdc
  - title: The Underground Symphony
    link: ug
---

<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="ug" class="main-bg">
    <div id="main" class="content flex flex-horizontal-center light">

        {% include navigation.html %}

        <div class="project--header f-width">
          <div class="header">
            <div class="header-title block">
              <h1 class="hidden">{{ page.project }}</h1>
            </div>
            <div class="header-content">
              <span class="h4 white">Explore the musical jungle of New York’s subways.</span>
            </div>
          </div>
          <div class="header-hero">
            <picture>
              <img src="../assets/media/octane/main-hero.png" alt="Laptop Background">
            </picture>
          </div>
          <div class="header-text">
            <span class="header-project-text">{{ page.project }}</span>
          </div>
        </div>

        <section class="intro split split-p-a">
          <div class="intro-content">
            <div class="intro-project-header">
              <span class="intro-project-title white">{{ page.project }}</span>
            </div>
            <div class="intro-break"></div>
            <div class="intro-details">
              <div class="intro-details-1">
                <span class="header-label white">Challenge</span>
                <div class="details-item">
                  <p>{{ page.challenge }}</p>
                </div>
              </div>
              {% for item in page.details %}
                <div class="intro-details-2">
                  <span class="header-label white">{{ item.label}}</span>
                  <div class="details-item">
                    <p>{{ item.content}}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="intro-break"></div>
            <div class="intro-link">
              <a title="View Live" class="project-live">
                <p>Coming Soon</p>
              </a>
            </div>
          </div>
          <div class="split-content">
            <div class="section-content">
              <p>Have you ever been walking in your city and you pass a street musician? More often than not, you'll only quickly glance and continue on your way, not really stopping to observe and listen. However, every once in awhile, you'll notice that one of those street musicians is insanely talented. What if you wanted to go back and find that same musician?</p>
              <p>Currently, there's no central location to viewing and exploring the musicians of the New York Subway system. I got together with an old buddy, Nathan, who came up with the idea. We wanted to create a exploratory map of New York which allows anyone to check out and discover the talented artists of New York's music scene.</p>
              <p>The project is still in it's infancy but we're pushing it forward every week. If you want to help us out, shoot me a quick note and we can see how we can work together.</p>
            </div>
          </div>
        </section>



        <section id="mocks" class="f-width mocks an-s page-animation-3">
            <div class="screens--screen an-s page-animation-4">
              <div class="photo-width">
                <picture>
                  <source
                      data-srcset="../assets/media/ug/1-xl.jpg"
                      media="(min-width: 1500px)" />
                  <source
                      data-srcset="../assets/media/ug/1-l.jpg"
                      media="(min-width: 1200px)" />
                  <source
                      data-srcset="../assets/media/ug/1-m.jpg"
                      media="(min-width: 1000px)" />
                  <source
                      data-srcset="../assets/media/ug/1-s.jpg"
                      media="(min-width: 700px)" />
                  <source
                      data-srcset="../assets/media/ug/1-p.jpg"
                      media="(min-width: 100px)" />
                  <img
                      data-sizes="auto"
                      data-src="../assets/media/ug/1-l.jpg"
                      class="lazyload blur-up" />
                </picture>
              </div>
            </div>
        </section>

        <section id="mocks" class="f-width mocks">
          <div class="screens--screen">
            <div class="photo-width">
              <picture>
                <source
                    data-srcset="../assets/media/ug/2-l.jpg"
                    media="(min-width: 1200px)" />
                <source
                    data-srcset="../assets/media/ug/2-m.jpg"
                    media="(min-width: 1000px)" />
                <source
                    data-srcset="../assets/media/ug/2-s.jpg"
                    media="(min-width: 700px)" />
                <source
                    data-srcset="../assets/media/ug/2-p.jpg"
                    media="(min-width: 100px)" />
                <img
                    data-src="../assets/media/ug/2-l.jpg"
                    class="lazyload blur-up" />
              </picture>
            </div>
          </div>
        </section>

        <div class="fw">
          <div class="screens--screen">
            <div class="photo-width">
              <picture>
                <source
                    data-srcset="../assets/media/ug/3-xl.jpg"
                    media="(min-width: 1500px)" />
                <source
                    data-srcset="../assets/media/ug/3-l.jpg"
                    media="(min-width: 1200px)" />
                <source
                    data-srcset="../assets/media/ug/3-m.jpg"
                    media="(min-width: 1000px)" />
                <source
                    data-srcset="../assets/media/ug/3-s.jpg"
                    media="(min-width: 700px)" />
                <source
                    data-srcset="../assets/media/ug/3-p.jpg"
                    media="(min-width: 100px)" />
                <img
                    data-sizes="auto"
                    data-src="../assets/media/ug/3-l.jpg"
                    class="lazyload blur-up" />
              </picture>
            </div>
          </div>
        </div>

        <section id="mocks" class="f-width mocks-light">
            <div class="screens--screen">
              <div class="photo-width">
                <picture>
                  <source
                      data-srcset="../assets/media/ug/4-m.jpg"
                      media="(min-width: 1000px)" />
                  <source
                      data-srcset="../assets/media/ug/4-s.jpg"
                      media="(min-width: 700px)" />
                  <source
                      data-srcset="../assets/media/ug/4-p.jpg"
                      media="(min-width: 100px)" />
                  <img
                      data-sizes="auto"
                      data-src="../assets/media/ug/4-l.jpg"
                      class="lazyload blur-up" />
                </picture>
              </div>
            </div>
        </section>

        {% include next-project.html %}


      </div>

      {% include footer.html %}

      {% include menu.html %}

      {% include message.html %}

      {% include js.html %}


    </body>
</html>
