---
meta_title: Archive & Fun | Alex Cagwin
bg_color: f9f9f9
project: Archive

---

<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="main" class="">
    <div id="archive" class="archive">


      <div id="header" class="return-module animated">
        <a href="../" class="return-content">
          <span class="return-txt">Close</span>
        </a>
      </div>

      <div class="home-padding project-hero panel" data-color="dark">
        <div class="work-hero header-title">
          <div class="h1 nh-d-35 work-hero-title sm-margin">Work, Expirements & Archive</div>
        </div>
        <div class="about-hero">
          <picture>
            <img src="../assets/media/about/main-hero.png" alt="Ampersand">
          </picture>
        </div>
      </div>



      <section class="final-content panel" data-color="light">
        <div class="side-grid">
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-1.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-2.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-3.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-4.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-4.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/shearshare-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/shearshare-1.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="side-grid">
          <picture>
            <source
                data-srcset="../assets/media/about/shearshare-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/shearshare-2.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/shearshare-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/shearshare-3.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/bsb.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/bsb.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/tulum-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/tulum-1.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/tulum-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/tulum-2.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/todo.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/todo.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="side-grid">
          <picture>
            <source
                data-srcset="../assets/media/about/nvolv-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/nvolv-1.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/nvolv-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/nvolv-2.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/nvolv-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/nvolv-3.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hopsy-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hopsy-1.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hopsy-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hopsy-2.jpg"
                class="lazyload"
                alt="Spotify Cover Art" />
          </picture>
        </div>


      </section>



      </div>

      {% include footerlite.html %}

      {% include menu.html %}

      {% include js.html %}

    </body>
</html>
