---
meta_title: Work & Fun | Alex Cagwin
bg_color: f9f9f9
project: Work

---

<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="main" class="">
    <div id="archive" class="archive">


      <div id="header" class="return-module animated">
        <a href="../" class="return-content">
          <span class="return-txt">Close</span>
        </a>
      </div>

      <div class="project-hero panel" data-color="dark">
        <div class="work-hero">
          <div class="nh-t-55 work-hero-title">Work, Expirements & Archive</div>
        </div>
        <div class="about-hero">
          <picture>
            <img src="../assets/media/about/main-hero.png" alt="Ampersand">
          </picture>
        </div>
      </div>



      <section class="final-content panel" data-color="light">


        <!-- harley-davidson -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hd-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hd-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="side-grid">
          <!-- video -->
          <div class="looping-video tall hd-bg">
            <picture>
              <video width="100%" height="100%" src="../assets/media/about/hd-2.mp4" autoplay="auto" loop muted class="laptop-video"></video>
            </picture>
          </div>
          <div class="looping-video tall hd-bg">
            <picture>
              <video width="100%" height="100%" src="../assets/media/about/hd-2.mp4" autoplay="auto" loop muted class="laptop-video"></video>
            </picture>
          </div>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hd-4.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hd-4.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hd-5.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hd-5.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hd-6.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hd-6.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>



        <!-- Marcel -->
        <div class="looping-video mrcl-bg" style="margin-bottom: 16px;">
          <picture>
              <video width="100%" height="100%" src="../assets/media/about/mrcl-5.mp4" autoplay="auto" loop muted class="laptop-video"></video>
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mrcl-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mrcl-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="looping-video mrcl-bg" style="margin-bottom: 16px;">
          <picture>
              <video width="100%" height="100%" src="../assets/media/about/mrcl-5.mp4" autoplay="auto" loop muted class="laptop-video"></video>
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mrcl-10.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mrcl-10.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mrcl-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mrcl-3.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="side-grid">
          <!-- video -->
          <div class="side-picture">
              <img src="../assets/media/about/mrcl-4.png" alt="mrcl-4">
          </div>
          <div class="looping-video tall mrcl-bg-light">
            <picture">
              <video width="100%" height="100%" src="../assets/media/about/hd-2.mp4" autoplay="auto" loop muted class="laptop-video"></video>
            </picture>
          </div>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mrcl-6.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mrcl-6.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mrcl-7.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mrcl-7.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mrcl-8.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mrcl-8.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mrcl-9.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mrcl-9.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>



        <!-- Metromile -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mm-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mm-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/mm-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mm-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="side-grid">
          <picture>
            <source
                data-srcset="../assets/media/about/mm-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mm-3.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/mm-4.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/mm-4.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>



        <!-- Octane AI -->

        <div class="looping-video ai-bg" style="margin-bottom: 16px;">
          <picture>
              <video width="100%" height="100%" src="../assets/media/about/ai.mov" autoplay="auto" loop muted class="laptop-video"></video>
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/ai-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ai-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/ai-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ai-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/ai-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ai-3.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/ai-4.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ai-4.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>


        <!-- shearshare -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/ss-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ss-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="side-grid">
          <picture>
            <source
                data-srcset="../assets/media/about/ss-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ss-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/ss-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ss-3.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/ss-4.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ss-4.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>


        <!-- babynoggin -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/bn-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/bn-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>


        <!-- bsb -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/bsb.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/bsb.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>


        <!-- Parachute Heatlh Cover -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/ph-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/ph-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>

        <!-- dumptruck -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/dt-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/dt-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/dt-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/dt-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/dt-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/dt-3.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>


        <!-- spotify -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-0.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-0.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div class="side-grid">
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-3.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/spotify-4.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/spotify-4.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>

        <!-- tulum -->
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/tulum-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/tulum-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/tulum-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/tulum-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/todo.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/todo.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>






        <!-- nvolv -->
        <div class="side-grid">
          <picture>
            <source
                data-srcset="../assets/media/about/nvolv-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/nvolv-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
          <picture>
            <source
                data-srcset="../assets/media/about/nvolv-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/nvolv-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/nvolv-3.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/nvolv-3.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hopsy-1.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hopsy-1.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>
        <div style="margin-bottom: 16px;">
          <picture>
            <source
                data-srcset="../assets/media/about/hopsy-2.jpg"
                media="(min-width: 100px)" />
            <img
                data-sizes="auto"
                data-src="../assets/media/about/hopsy-2.jpg"
                class="lazyload blur-up"
                alt="Spotify Cover Art" />
          </picture>
        </div>


      </section>



      </div>

      {% include footerlite.html %}

      {% include menu.html %}

      {% include js.html %}

    </body>
</html>
