<footer>

  {% if page.nextProject %}
    {% include next-project.html %}
  {% else %}
    <div></div>
  {% endif %}


  <div class="footer content-padding">
    <div class="footer--content">
      <div class="footer--item-2">
        <span class="footer-about">Designer<br>Taco Chef.</span>
        <span class="footer-amp">&amp;</span>
      </div>
      <div class="footer--items-list">
        <div class="footer--item">
          <span class="fact-label">Copyright</span>
          <span><i class="fa fa-copyright"></i> 2020<br>Alex Cagwin</span>
        </div>
        <div class="footer--item">
          <span class="fact-label">Email</span>
          <a href="mailto:hey@acag.win" title="Email Me">
            <span>Hey@acag.win</span>
          </a>
          <a data-clipboard-text="hey@acag.win" class="copied no-smoothState">
            <span class="footer-contact">Copy Email Link</span>
          </a>
        </div>
        <div class="footer--item">
          <span class="fact-label">Elsewhere</span>
          <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
            <span>LinkedIn</span>
          </a>
          <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
            <span>Twitter</span>
          </a>
          <a href="https://500px.com/alexcagwin" target="_blank" title="500px">
            <span>500px</span>
          </a>
          <a href="https://dribbble.com/awincag" target="_blank" title="Dribbble">
            <span>Dribbble</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
