<footer>


  <div id="footer" class="footer home-padding">

    <div class="footer--content">
      <div class="footer--item-2 above-amp">
        <span class="footer-about nh-d-65">Alex Cagwin</span>
        <span class="footer-about nh-d-65">Copyright, 2022</span>
        <!-- <span class="footer-amp">&amp;</span> -->

        <div class="br"></div>

        <div class="footer--item nh-t-55 above-amp">
          <p>I'm currently only taking on new projects through <a href="https://www.melostat.com" target="_blank" title="Melostat">my consultancy</a>. If you're interested in partnering:</p>
          <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
            <span>LinkedIn</span>
          </a>
          <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
            <span>Twitter</span>
          </a>
          <div class="email-item">
            <a href="mailto:hey@acag.win?subject=Partnership" target="_blank" title="Email">
              <span>hey@acag.win</span>
            </a>
            <p>&nbsp;—&nbsp;</p>
            <a data-clipboard-text="hey@acag.win" class="copied" title="Copy Email">
              <span id="foot-btn" class="foot-btn">copy</span>
              <span id="foot-msg" class="foot-msg f-active" data-target="copied">copied!</span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer--items-list">

      </div>

      <div class="amp">
        <span class="footer-amp">&amp;</span>
      </div>

      </div>


      <div class="main-br above-amp"></div>

      <div class="footnote above-amp">
        <div class="footnote-col">
          <div class="footnight-item nh-t-55">
            <p class="nh-t-65">Last Updates</p>
            <p>Hero: Sept '22</p>
            <p>About: Sept '22</p>
            <p>Clients: Sept '22</p>
            <p>Work &amp; Archive: Sept '22</p>
          </div>
          <div class="footnight-item nh-t-55">
            <p style="text-align: justify">Well, i saw that fine print typically adds a bit of clout and professionalism to any kind of document and/or object, so I asked myself, why not add some fine-print to this bad boy. At first glance, you’re probably saying, “damn, this guy is a lawyer” but really, it’s the lawyers that I know saying I should probably put some caveats into my document about whow I was the person to design everything here and I used principle for mac on everything related to motion. Anyways. as one of my buddies would say...</p>
            <span class="signature">Stay Gold</span>
          </div>
        </div>
      </div>
  </div>
</footer>
