<footer class="content-padding f-light">

  <!--
  {% if page.nextProject %}
    {% include next-project.html %}
  {% else %}
    <div></div>
  {% endif %}

  -->

  <div id="footer" class="f-case-studies">
    <div class="f-cs-content">
      <div class="f-cs-label">
        <span>Case-Studies</span>
      </div>
      <div class="f-cs-links">
        <a href="/harleydavidson" title="Harley-Davidson" class="f-cs-item harley-color">
          <div class="f-cs-item-num">
            <span>0</span>
            <span>1</span>
          </div>
          <div class="f-cs-item-title">
            <span>Harley-Davidson</span>
          </div>
        </a>
        <a href="/marcel" title="Marcel" class="f-cs-item marcel-color">
          <div class="f-cs-item-num">
            <span>0</span>
            <span>2</span>
          </div>
          <div class="f-cs-item-title">
            <span>Marcel</span>
          </div>
        </a>
        <a href="/octaneai" title="Octane AI" class="f-cs-item octane-color">
          <div class="f-cs-item-num">
            <span>0</span>
            <span>3</span>
          </div>
          <div class="f-cs-item-title">
            <span>Octane AI</span>
          </div>
        </a>
        <a href="/babynoggin" title="BabyNoggin" class="f-cs-item baby-color">
          <div class="f-cs-item-num">
            <span>0</span>
            <span>4</span>
          </div>
          <div class="f-cs-item-title">
            <span>BabyNoggin</span>
          </div>
        </a>
        <a href="/dumptruck" title="Dumptruck.com" class="f-cs-item dumptruck-color">
          <div class="f-cs-item-num">
            <span>0</span>
            <span>5</span>
          </div>
          <div class="f-cs-item-title">
            <span>Dumptruck.com</span>
          </div>
        </a>
        <a href="/archive" title="Archive & Fun" class="f-cs-item archive-color">
          <div class="f-cs-item-num">
            <span>0</span>
            <span>6</span>
          </div>
          <div class="f-cs-item-title">
            <span>Archive & Fun</span>
          </div>
        </a>

      </div>
    </div>
  </div>

  <div class="f-br"></div>

  <div class="footer">
    <div class="footer--content">
      <div class="footer--item-2">
        <span class="footer-about">Designer<br>Taco Chef.</span>
        <span class="footer-amp">&amp;</span>
      </div>
      <div class="footer--items-list">
        <div class="footer--item">
          <span class="fact-label">Copyright</span>
          <span><i class="fa fa-copyright"></i> 2020<br>Alex Cagwin</span>
        </div>
        <div class="footer--item">
          <span class="fact-label">Email</span>
          <a href="mailto:hey@acag.win" title="Email Me">
            <span>Hey@acag.win</span>
          </a>
          <a data-clipboard-text="hey@acag.win" class="copied no-smoothState">
            <span class="footer-contact">Copy Email Link</span>
          </a>
        </div>
        <div class="footer--item">
          <span class="fact-label">Elsewhere</span>
          <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
            <span>LinkedIn</span>
          </a>
          <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
            <span>Twitter</span>
          </a>
          <a href="https://500px.com/alexcagwin" target="_blank" title="500px">
            <span>500px</span>
          </a>
          <a href="https://dribbble.com/awincag" target="_blank" title="Dribbble">
            <span>Dribbble</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
