<footer>
  <div class="footer">
    <div class="footer--content">
      <div class="footer--item">
        <span class="footer-label">Copyright</span>
        <span><i class="fa fa-copyright"></i> Alex Cagwin, 2016.</span>
      </div>
      <div class="footer--item">
        <span class="footer-label">Email</span>
        <a href="mailto:hey@acag.win" title="Email Me">
          <span>Hey@acag.win</span>
        </a>
        <a data-clipboard-text="hey@acag.win" class="copied no-smoothState">
          <span class="footer-contact">Copy Email Link</span>
        </a>
      </div>
      <div class="footer--item">
        <span class="footer-label">Elsewhere</span>
        <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
          <span>LinkedIn</span>
        </a>
        <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
          <span>Twitter</span>
        </a>
        <a href="https://500px.com/alexcagwin" target="_blank" title="500px">
          <span>500px</span>
        </a>
      </div>
    </div>
  </div>
</footer>
