<title>{{ page.meta_title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
<meta name="title" content="Alex Cagwin | Product Designer">
<meta name="description" content="Alex Cagwin is a Digital Product Designer and Co-Creator of the World's Best Breakfast Tacos">
<meta name="keywords" content="Product, Design, Designer, Full-Stack, Alex, Cagwin, Breakfast Taco, Alex Cagwin, Worlds Best Tacos">
<meta name="author" content="Alex Cagwin">
<meta property="og:title" content="Alex Cagwin | Digital Product Designer">
<meta property="og:type" content="website">
<meta property="og:url" content="http://acag.win">
<meta property="og:image" content="http://acag.win/assets/media/meta-image.png" />
<meta property="og:description" content="Digital Product Designer &amp; Co-creator of World's Best Breakfast Tacos">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@awincag" />
<meta name="twitter:title" content="Alex Cagwin | Digital Designer." />
<meta name="twitter:description" content="Digital Product Designer &amp; Co-creator of World's Best Breakfast Tacos" />
<meta name="twitter:image" content="http://acag.win/assets/media/meta-image.png" />

<link rel="shortcut icon" href="/img/favicon.png">
<link rel="icon" type="image" href="/img/favicon.png">

<link href="//cloud.typenetwork.com/projects/1247/fontface.css/" rel="stylesheet" type="text/css">
<style> .main-bg {background-color: #{{ page.bg_color }};}</style>
<link href="../assets/css/main.css" type="text/css" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Ads: 978650604 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-978650604"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-978650604');
</script>
