<title>{{ page.meta_title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="title" content="Alex Cagwin | Product Designer">
<meta name="description" content="Alex Cagwin is a Digital Product Designer and Co-Creator of the World's Best Breakfast Tacos">
<meta name="keywords" content="Product, Design, Designer, Full-Stack, Alex, Cagwin, Breakfast Taco, Alex Cagwin, Worlds Best Tacos">
<meta name="author" content="Alex Cagwin">
<meta property="og:title" content="Alex Cagwin | Digital Product Designer">
<meta property="og:type" content="website">
<meta property="og:url" content="http://acag.win">
<meta property="og:image" content="awincag.github.io/media/meta-image.png" />
<meta property="og:description" content="Digital Product Designer &amp; Co-creator of World's Best Breakfast Tacos">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@awincag" />
<meta name="twitter:title" content="Alex Cagwin | Product Designer." />
<meta name="twitter:description" content="Digital Product Designer &amp; Co-createor of World's Best Breakfast Tacos" />
<meta name="twitter:image" content="awincag.github.io/media/meta-image.png" />

<link rel="shortcut icon" href="/img/favicon.png">
<link rel="icon" type="image" href="/img/favicon.png">

<link href="//cloud.typenetwork.com/projects/846/fontface.css/" rel="stylesheet" type="text/css">
<style> .main-bg {background-color: #{{ page.bg_color }};}</style>
<link href="../assets/css/main.css" type="text/css" rel="stylesheet">
