<script src="../assets/js/headroom.min.js"></script>
<script src="../assets/js/smooth-scroll.min.js"></script>
<script src="../assets/js/clipboard.min.js"></script>

<!-- THIS IS WHAT'S CAUSING THE PAGE TRANSITION -->
<script src="../assets/js/jquery-3.6.3.js"></script>
<script src="../assets/js/main.js"></script>
<script>
  (function() {
    var header = new Headroom(document.querySelector("#header"), {
        tolerance: {
          up : 5,
          down : 75
        },
        offset: 150,
        classes: {
          initial: "animated",
          pinned: "slideDown",
          unpinned: "slideUp"
        }
    });
    header.init();

}());
</script>
