<div id="menu" class="menu overlay">
  <div class="menu--background">
    <div class="header--content">
      <div class="logo">
        <a href="/" class="type-logo flex-h-center trns" title="West Agile Labs">
          <span class="trns">West Agile Labs</span>
        </a>
      </div>
      <div class="navigation">
        <a id="close-menu" href="#" rel="modal:close" class="close-overlay overlay--close flex-h-center navigation--open trns" title="CloseNavigation">
          <span class="trns">close</span>
        </a>
      </div>
    </div>
    <div class="menu--content">
      <div class="menu--email menu-mobile-hide">
        <a data-clipboard-text="hello@westagilelabs.com" title="Email Us" class="menu-mobile-email copied ">
          <span>hello@westagilelabs.com</span>
        </a>
      </div>
      <div class="menu--email desktop-hide">
        <a href="mailto:hello@westagilelabs.com?Subject=Lets%20Build%20Something" title="Email Us" class="menu-mobile-email">
          <span>hello@westagilelabs.com</span>
        </a>
      </div>
      <div class="menu--navigation">
        <ul>
          <li>
            <a href="/" title="Home">Home</a>
          </li>
          <li>
            <a href="/about" title="About Us">About Us</a>
          </li>
          <li>
            <a href="/work" title="portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/services" title="Services">Services</a>
          </li>
          <li>
            <a href="https://blog.westagilelabs.com/" target="_blank" title="Blog">Blog</a>
          </li>
          <li>
            <a href="/contact" title="Contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="menu--connect menu-mobile-hide">
        <div class="connect--phone">
          <a href="tel:1-415-766-9378" title="Call Us" class=" ">
            <span>415-766-9378</span>
          </a>
        </div>
        <div class="connect--social">
          <ul class="connect--icons">
            <li>
              <a href="https://www.facebook.com/westagilelabsSF/" target="_blank" title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/WestAgileLabs" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/west-agile-labs" target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/westagilelabs/" target="_blank" title="Instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu--mobile-connect desktop-hide">
        <a href="tel:1-415-766-9378" title="Call Us" class="mobile-menu-action">
          <span>Call us</span>
        </a>
        <a id="menu-start" href="#" data-target="start-project" title="Start a Projec" class="mobile-menu-action">
          <span>Start a project</span>
        </a>
      </div>
    </div>
  </div>
</div>
