<div id="header" class="header trns animated header--fixed">
  <div class="header--content">
    <div class="logo">
      <a href="/" class="type-logo flex-h-center trns" title="West Agile Labs">
        <span class="trns">West Agile Labs</span>
      </a>
    </div>
    <div class="navigation">
      <a id="menu-nav" href="#" data-target="menu" class="overlay open-overlay flex-h-center navigation--open trns" title="Open Navigation">
        <span class="trns">menu</span>
      </a>
      <a id="start-nav" href="#" data-target="start-project" class="overlay open-overlay flex-h-center navigation--start mobile-hide trns" title="Start A Project">
        <span class="trns">start a project</span>
      </a>
    </div>
  </div>
</div>
