<div id="start-project" class="start-project overlay">
  <div class="start--background">
    <div class="header--content">
      <div class="logo">
        <a href="/" class="type-logo flex-h-center trns" title="West Agile Labs">
          <span class="trns">West Agile Labs</span>
        </a>
      </div>
      <div class="navigation">
        <a id="close-start" href="#" rel="modal:close" class="close-overlay overlay--close flex-h-center navigation--open trns" title="Close Navigation">
          <span class="trns">close</span>
        </a>
      </div>
    </div>
    <div class="sp--content">
      <div class="sp--information">
        <span class="sp--label">Get in Touch</span>
        <span class="sp--header">Let's Partner.</span>
        <p>Start a project, get a quote or learn more about how we can partner to build a successful project.</p>
      </div>
      <div class="sp--form">
        <form action="//formspree.io/hello@westagilelabs.com" method="POST">
          <input type="text" name="name" placeholder="Full Name" class="input trns"/>
          <input type="email" name="_replyto" placeholder="Enter Your Email" class="input trns"/>
          <input type="hidden" name="_subject" value="WAL Website Start Project Submission"/>
          <input type="hidden" name="_next" value="../thanks">
          <input type="submit" value="Send" class="sp-btn trns">
        </form>
      </div>
    </div>
  </div>
</div>
